/*----------------------------------advantages--------------------------------*/
.advantages {
    content-visibility: auto;
    contain-intrinsic-size: 0 500px;
    &__content {
        .title,
        .text {
            color: var(--color-white);
            margin-bottom: 20px;
        }
    }
    &__items {
        display: flex;
        align-items: center;
        gap: 8px 20px;
        flex-wrap: wrap;
        @include mobile {
            gap: 8px 16px;
        }
    }
    &__item {
        background-color: var(--color-white);
        border-radius: 20px;
        padding: 10px 20px;
        @include fluid-text(14, 18);
        @include mobile {
            padding: 10px;
        }
    }
}

/*----------------------------------advantages--------------------------------*/