/*----------------------------------burger--------------------------------*/
.burger__wrapper {
    display: none;
    @include mobile {
        width: 36px;
        height: 36px;
        flex: 0 0 auto;
        background-color: var(--color-orange);
        border-radius: 8px;
        position: relative;
        display: block;
        z-index: 9;
        .burger {
            z-index: 2;
            cursor: pointer;
            &__line {
                height: 2px;
                width: 20px;
                position: absolute;
                transition: all 0.3s ease 0s;
                background: var(--color-white);
                transform: translate(-50%, -50%);
                border-radius: 1px;
                &:first-child {
                    left: 50%;
                    top: 32%;
                }
                &:nth-child(2) {
                    left: 50%;
                    top: 50%;
                }
                &:last-child {
                    top: 67%;
                    width: 15px;
                    right: 0.29px;
                }
            }
        }
    }
}

/*----------------------------------burger--------------------------------*/