/*----------------------------------categories-------------------------------*/

.categories {
    content-visibility: auto;
    contain-intrinsic-size: 0 500px;
    .title {
        margin-bottom: 40px;
    }
    &__wrapper {
        position: relative;
    }
    &__body {
        display: grid;
        grid-template-columns:repeat(auto-fit, minmax(220px, 1fr));
        gap: 20px;
        margin-bottom: 100px;
        @include mobile {
            grid-template-columns: 1fr 1fr;
        }
    }


    &__blocks {
        display: grid;
        grid-template-columns:repeat(auto-fit, minmax(400px, 1fr));
        gap: 10px 20px;
        margin-bottom: 100px;
        @include mobile {
            grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
        }
        .block {
            display: flex;
            gap: 10px 20px;
            @include mobile {
                flex-wrap: wrap;
            }
            &__icon {
                flex: none;
                margin-bottom: 0px;
            }
        }
    }
    &__tabs {
        height: 500px;
        @include mobile {
            display: none;
        }
    }
}
/*----------------------------------categories--------------------------------*/