/*----------------------------------categories-------------------------------*/

.categories {
    content-visibility: auto;
    contain-intrinsic-size: 0 500px;
    .title {
        margin-bottom: 40px;
    }
    &__wrapper {
        position: relative;
    }
    &__body {
        display: grid;
        grid-template-columns:repeat(auto-fit, minmax(220px, 1fr));
        gap: 20px;
        margin-bottom: 100px;
    }
    &__card {
        background-color: var(--color-white);
        border-radius: 10px;
        padding: 20px;
        border: 1px solid #ddd;
        display: grid;
        grid-template-rows: auto 1fr;
        position: relative;
        &-image {
            padding-top: 200px;
            margin-bottom: 10px;
            border: 1px solid #dadada;
            border-radius: 10px;
            img {
                border-radius: 10px;
            }
        }
        &-title {
            margin-bottom: 20px;
        }
        .btn {
            display: inline-block;
            width: 127px;
        }
        &-cost {
            font-family: 'Roboto', Arial, sans-serif;
            margin-bottom: 10px;
            font-weight: 700;
            font-size: 16px;
        }
        &-link {
            margin-bottom: 10px;
            color: var(--color-orange);
            text-decoration: underline;
        }
        &-favourites {
            position: absolute;
            cursor: pointer;
            top: 30px;
            right: 28px;
        }
    }
    &__card--mod {
        background-color: inherit;
        border: none;
    }

    &__blocks {
        display: grid;
        grid-template-columns:repeat(auto-fit, minmax(400px, 1fr));
        gap: 10px 20px;
        margin-bottom: 100px;
        @include mobile {
            grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
        }
        .block {
            display: flex;
            gap: 10px 20px;
            @include mobile {
                flex-wrap: wrap;
            }
            &__icon {
                flex: none;
                margin-bottom: 0px;
            }
        }
    }
    &__tabs {
        height: 500px;
        @include mobile {
            display: none;
        }
    }
}

/*----------------------------------categories--------------------------------*/