/*----------------------------------consultation--------------------------------*/

.consultation {
    @include mobile {
        margin-top: 80px;
    }
    &__body {
        color: var(--color-white);
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
        margin-bottom: 27px;
        @include mobile {
            flex-wrap: wrap;
        }
    }
    &__info {
        flex-basis: 448px;
        @include mobile {
            order: 1;
        }
    }
    &__image {
        margin-top: -120px;
        @include mobile {
            margin-top: -144px;
        }
    }
    &__form {
        .form {
            margin-bottom: 0px;
            &__wrapper {
                display: flex;
                justify-content: space-between;
                align-items: stretch;
                gap: 10px;
                margin-bottom: 10px;
                @include mobile {
                    flex-wrap: wrap;
                }
                .form__item {
                    margin-bottom: 0px;
                    width: 33.333%;
                    @include mobile {
                        width: 100%;
                    }
                }
            }
            &__button {
               flex-basis: 320px;
               @include mobile {
                flex-basis: 100%;
            }
        }
        .checkbox {
            margin-bottom: 0px;
        }
        }
    }
}

/*----------------------------------consultation--------------------------------*/