/*----------------------------------filter--------------------------------*/
.filter {
    &__links {
       display: flex;
       justify-content: space-between;
       align-items: center;
       gap: 5px;
       flex-wrap: wrap;
       @include mobile {
        justify-content: start;
    }
    }
    &__link {
        background-color: var(--color-orange-altr);
        color: var(--color-white);
        padding: 10px 20px;
        display: inline-block;
        border-radius: 20px;
        @include fluid-text(14, 16);
        transition: All 0.3s ease 0s;
        @include hover {
            background-color: var(--color-orange);
        }
        @include mobile {
            padding: 5px 10px;
        }
    }
    @include mobile {
        padding: 5px 0px;
    }
}
.filter-menu {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 80px;
    @include table {
        gap: 10px;
    }
    &__list-wrapper {
        @include mobile {
            display: none;
        }
        .button {
            background-color: var(--color-orange-altr);
            @include fluid-text(14, 16);
            border: none;
            @include hover {
                background-color: #D16403;
            }
        }
    }
    &__list {
        margin-bottom: 20px;
        li {
            cursor: pointer;
            font-size: 16px;
            position: relative;
            padding-left: 10px;
            &:not(:last-child) {
                margin-bottom: 10px;
            }
            &::before {
                position: absolute;
                content: '';
                width: 7px;
                height: 1px;
                top: 5px;
                left: 0;
                background-color: var(--color-black);
                transform: rotate(-45deg);
            }
            &::after{
                position: absolute;
                content: '';
                width: 7px;
                height: 1px;
                top: 10px;
                left: 0;
                background-color: var(--color-black);
                transform: rotate(45deg);
            }
        }
    }
    &__body-title {
        background-color: var(--color-orange-altr);
        padding: 20px;
        border-radius: var(--border-radius);
        color: var(--color-white);
        margin-bottom: 23px;
    }
    &__cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 40px 15px;
        @include table {
            grid-template-columns: 1fr 1fr 1fr;
        }
        @include mobile {
            grid-template-columns: 1fr 1fr;
        }
    }
    &__card {
        max-width: 235px;
        .card {
            background-color: inherit;
            border: none;
            padding: 0;
            .card__title {
                @include fluid-text(14, 16);
            }
            .button {
                background-color: var(--color-orange-altr);
                @include fluid-text(14, 16);
                border: none;
                @include hover {
                    background-color: #D16403;
                }
            }
        }
        .card__image {
            padding-top: 160px;
            @include mobile {
                padding-top: 112px;
            }
        }
    }
    &__slider {
        margin-bottom: 20px;
        &-title {
            font-weight: 700;
            font-size: 16px;
            margin-bottom: 10px;
        }
    }
    &--mod {
        justify-content: start;
        gap: 10px;
        margin-bottom: 0px;
        .filter-menu__list-wrapper {
            @include mobile {
                display: block;
                order: 1;
            }
        }
        .filter-menu__list {
            margin-bottom: 0px;
            li {
                img {
                    width: 50px;
                    height: 45px;
                    border-radius: var(--border-radius);
                    border: 1px solid #dadada;
                    @include mobile {
                        width: 60px;
                        height: 53px;
                    }
                }
                &::before,
                &::after {
                    display: none;
                }
                padding-left: 0px;
                &:not(:last-child) {
                    margin-bottom: 10px;
                    @include mobile {
                        margin-bottom: 3px;
                    }
                }
            }
        }
        .filter-menu__container {
            img {
                width: 210px;
                height: 210px;
                border-radius: var(--border-radius);
                border: 1px solid #dadada;
                @include mobile {
                    width: 220px;
                    height: 220px;
                }
            }
        }
        @include mobile {
            flex-wrap: wrap;
            flex-basis: 100%;
            justify-content: space-between;
        }
    }
    .filter-menu__button-reset {
        margin: auto;
        width: 100%;
    }
    &__button {
        .button-outline {
            padding: 10px;
            border-radius: var(--border-radius);
            text-align: center;
        }
    }
}
.values {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    gap: 16px;
    &__inner {
        display: flex;
        align-items: center;
        gap: 5px;
        border: 1px solid rgba(23, 23, 23, 0.7);
        border-radius: 6px;
        padding: 8px;
        input {
            width: 100%;
            background-color: inherit;
        }
    }
}
.noUi-target {
    background: #525252;
    border: none;
    box-shadow: none;
}
.noUi-connect {
    background: var(--color-orange);
}
.noUi-horizontal .noUi-handle {
    width: 9px;
    height: 9px;
    right: -5px;
    top: -4px;
}
.noUi-handle {
    background: var(--color-orange); 
    border-radius: 50%;
    cursor: pointer;
    box-shadow: none;
}
.noUi-handle:after, .noUi-handle:before {
    display: none;
}
.noUi-horizontal {
    height: 2px;
}
.noUi-target, .noUi-handle {
    border: none;
}
/*----------------------------------filter--------------------------------*/