/*----------------------------------form--------------------------------*/
.form {
    margin: 0 auto;
    color: var(--color-black);
    padding: 1.5rem;
    background-color: var(--color-white);
    border-radius: 5px;
    margin-bottom: 1rem;
    position: relative;
    &__title {
        font-size: 18px;
        margin-bottom: 1.5rem;
        @include mobile {
            font-weight: 700;
        }
        span {
            text-transform: uppercase;
        }
    }
    &__text {
        @include fluid-text(16, 18);
        line-height: 120%;
        margin-bottom: 1.5rem;
    }
    &__item {
        margin-bottom: 0.7rem;
    }
    &__input {
        width: 100%;
        padding: 0.7rem;
        border-radius: 5px;
        transition: all 0.3s ease 0s;
        border: 1px solid rgba(23, 23, 23, 0.7);
        &:focus {
            box-shadow: 0 0 10px var(--color-orange);
        }
    }
    &__button {
        width: 100%;
        padding: 1rem 2rem;
        background-color: var(--color-orange);
        cursor: pointer;
        color: var(--color-white);
        border-radius: 5px;
        @include fluid-text(14, 16);
    }
}
/*----------------------------------form--------------------------------*/