/*----------------------------------form--------------------------------*/
.form {
    margin: 0 auto;
    color: var(--color-black);
    padding: 20px;
    background-color: var(--color-white);
    border-radius: 10px;
    margin-bottom: 16px;
    position: relative;
    border: 1px solid #ddd;
    &__title {
        font-size: 18px;
        margin-bottom: 24px;
        @include mobile {
            font-weight: 700;
        }
        span {
            text-transform: uppercase;
        }
    }
    &__text {
        @include fluid-text(16, 18);
        line-height: 120%;
        margin-bottom: 1.5rem;
    }
    &__item {
        margin-bottom: 0.7rem;
        width: 100%;
    }
    &__input {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        transition: all 0.3s ease 0s;
        border: 1px solid rgba(23, 23, 23, 0.7);
        &::placeholder {
            font-size: 16px;
        }
        &:focus {
            box-shadow: 0 0 10px var(--color-orange);
        }
    }
    &__textarea {
        height: 40px;
        overflow-y: hidden;
    }
    &__button {
        width: 100%;
        padding: 10px 32px;
        background-color: var(--color-orange);
        cursor: pointer;
        color: var(--color-white);
        border-radius: 5px;
        @include fluid-text(14, 16);
        transition: all 0.3s ease 0s;
        @include hover {
            background-color: #D16403;
        }
    }
    &--mod {
        @include mobile {
            background-color:inherit;
            padding: 0px;
            border: none;
            .form__button {
                background-color: transparent;
                border: 1px solid var(--color-white);
            }
            .form__item input {
                border: none;
            }
            .checkbox__text {
                color: var(--color-white);
            }
            .checkbox__label::before {
                border: 1px solid var(--color-white);
            }
        }
    }
}
.entry-form {
    max-width: 255px;
    margin: auto;
    @include mobile {
        max-width: 100%;
    }
    .title {
        margin-bottom: 20px;
    }
    .form__input {
        margin-bottom: 20px;
        background-color: inherit;
        border: 1px solid var(--color-white);
        color: var(--color-white);
        &::placeholder {
            color: var(--color-white);
        }
        @include mobile {
            margin-bottom: 10px;
        }
    }
    .button {
        max-width: 100%;
        border-radius: 6px;
    }
    .button-white {
        margin-bottom: 10px;
    }
    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0px 10px;
        @include mobile {
            flex-wrap: wrap;
        }
    }
    &--mod {
        max-width: 530px;
    }
    @include mobile {
        padding: 40px 0px;
    }
}
/*----------------------------------form--------------------------------*/