/*----------------------------------global--------------------------------*/
body.lock {
    overflow: hidden;
}
body { 
    font-family: var(--font-family-base); 
    @include fluid-text(16, 18);
    line-height: 120%;
    font-weight: 400; 
    color: var(--color-black); 
    background: var(--color-gray);
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}
.main {
    flex: 1 1 auto;
}
._container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0px 10px;
}
section {
    padding: 50px 0px;
    @include mobile {
        padding: 30px 0px;
    }
}
.section--color {
    background-color: #EA984F;
}
._ibg {
    position: relative;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}
.title {
    @include fluid-text(30, 60);
    line-height: 120%;
}
.yandex-rating {
    @include mobile {
        display: flex;
        gap: 15px;
    }
    &__stars {
        margin-top: 5px;
        display: flex;
        align-items: center;
        gap: 10px;
        @include mobile {
            display: flex;
            gap: 1px;
            img {
                width: 22px;
            }
        }
    }
}
.button {
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
    text-align: center;
    @include mobile {
        padding: 7px;
    }
}
.button-outline {
    border: 1px solid var(--color-orange);
    background-color: var(--color-white);
    @include hover {
        color: var(--color-white);
        background-color: var(--color-orange);
    }
}
.button-filled {
    background-color: var(--color-orange);
    border: 1px solid var(--color-orange);
    color: var(--color-white);
    @include hover {
        background-color: #D16403;
    }
}
.button-download {
    background-color: var(--color-gray);
}
.button-white,
.button-download {
    background-color: var(--color-white);
    color: var(--color-black);
    padding: 10px;
    white-space: nowrap;
    border-radius: 10px;
    border: 1px solid var(--color-white);
    transition: All 0.3s ease 0s;
    @include fluid-text(14, 16);
    text-align: center;
    display: block;
    max-width: 260px;
    @include hover {
        border: 1px solid var(--color-white);
        background-color: var(--color-orange);
        color: var(--color-white);
    }
}
.button-white-outline {
    border: 1px solid var(--color-white);
    background-color: inherit;
    color: var(--color-white);
    @include hover {
        background-color: var(--color-orange);
    }
}
.btn-more {
    color: var(--color-orange);
    background-color: inherit;
    text-decoration: underline;
    margin: 0 auto;
    width: 100%;
    display: none;
}
.button__more {
    @include mobile {
        display: block;
    }
}
.text-more {
    @include mobile {
        display: none;
    }
}
.favourites-icon {
    background-color: var(--color-white);
    border: 1px solid var(--color-orange);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1px;
    transition: all 0.3s ease 0s;
    @include hover {
        svg path {
            fill: #fff;
        }
        background-color: var(--color-orange);
    }
}
.fix-margin {
    padding-right: var(--scrollbar-width);
}

/*----------------------------------global--------------------------------*/