/*----------------------------------global--------------------------------*/
body.lock {
    overflow: hidden;
}
body { 
    font-family: var(--font-family-base); 
    font-size: 1.13rem;
    font-weight: 400; 
    color: var(--color-black); 
    background: var(--color-gray);
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}
.main {
    flex: 1 1 auto;
}
._container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0rem 0.64rem;
}
section {
    padding: 50px 0px;
}
.section--color {
    background-color: #EA984F;
}
._ibg {
    position: relative;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}
.title {
    @include fluid-text(30, 60);
    line-height: 120%;
}
.text {
    @include fluid-text(14, 18);
    color: var(--color-black);
    line-height: 100%;
}
.yandex-rating {
    @include mobile {
        display: flex;
        gap: 15px;
    }
    &__stars {
        margin-top: 5px;
        display: flex;
        align-items: center;
        gap: 10px;
        @include mobile {
            display: flex;
            gap: 1px;
            img {
                width: 22px;
            }
        }
    }
}
.button {
    display: inline-block;
    padding: 0.7rem;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
    text-align: center;
}
.button-outline {
    border: 1px solid var(--color-orange);
    background-color: var(--color-white);
    @include hover {
        color: var(--color-white);
        background-color: var(--color-orange);
    }
}
.button-filled {
    background-color: var(--color-orange);
    border: 1px solid var(--color-orange);
    color: var(--color-white);
    @include hover {
        color: var(--color-black);
        background-color: var(--color-white);
    }
}
.btn-more {
    color: var(--color-orange);
    background-color: inherit;
    text-decoration: underline;
    margin: 0 auto;
    width: 100%;
    display: none;
}
.button__more {
    @include mobile {
        display: block;
    }
}
.text-more {
    @include mobile {
        display: none;
    }
}
/*----------------------------------global--------------------------------*/