/*----------------------------------guarantees--------------------------------*/
.guarantees {
    content-visibility: auto;
    contain-intrinsic-size: 0 500px;
    &__content {
        .title {
            margin-bottom: 40px;
        }
    }
    &__cards {
        display: grid;
        grid-template-columns:repeat(auto-fit, minmax(280px, 1fr));
        gap: 12px;
    }
    &__card {
        border: 1px solid #ddd;
        border-radius: 10px;
        padding: 21px;
        display: grid;
        grid-template-rows: auto 56px 40px;
        background-color: var(--color-white);
        &_image {
            margin-bottom: 0.8rem;
            padding: 138px 0px 0px 0px;
            border-radius: 10px 10px 2px 2px;
            img {
                border-radius: 10px 10px 2px 2px;
            }
        }
        &_title {
            margin-bottom: 16px;
        }
        &_buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 12px;
            .button {
                font-size: 16px;
            }
        }
    }
}

/*----------------------------------guarantees--------------------------------*/