/*----------------------------------header--------------------------------*/
.header {
    position: absolute;
    width: 100%;
    z-index: 2;
    color: var(--color-white);
    padding-top: 16px;
    &__bg {
        background-color: var(--color-blue);
        transition: all 0.3s ease 0s;
        .header__content {
            color: var(--color-white);
        }
    }
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 24px;
        margin-bottom: 11px;
        position: relative;
        @include desktop {
            gap: 10px;
        }
    }
    &__locations {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        @include fluid-text(12, 16);
    }
    &__text {
        @include fluid-text(10, 12);
    }
    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
        margin-bottom: 12px;
    }
    &__logo {
        z-index: 3; 
        margin-top: 5px;
    }
    &__links {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        @include fluid-text(12, 16);
        @include desktop {
            gap: 10px;
        }
    }
    &__link {
        transition: All 0.3s ease 0s;
        white-space: nowrap;
        font-family: 'Roboto', Arial, sans-serif;
        @include hover {
            color: var(--color-orange);
            svg path {
                fill: var(--color-orange);
                transition: All 0.3s ease 0s;
            }
        }
    }
    &__place {
        display: none;
        position: absolute;
        z-index: 9;
        background-color: var(--color-orange);
        top: 35px;
        width: 224px;
        border-radius: 10px;
        padding: 11px;
        box-shadow: 0 0 25px 0 #000;
        border: 1px solid var(--color-white);
        &_text {
            margin-bottom: 11px;
        }
        &_name {
            font-weight: 700;
            @include fluid-text(14, 18);
            margin-bottom: 11px;
        }
        &_buttons {
            display: flex;
            align-items: center;
            gap: 11px;
        }
        &_btn--yes {
            border: 1px solid #f77705;
            border-radius: 10px;
            padding: 7px 20px;
        }
        &_btn--another {
            background-color: inherit;
            color: var(--color-white);
        }
        &::after {
            position: absolute;
            content: '';
            width: 20px;
            height: 20px;
            top: -10.5px;
            left: 25px;
            background-color: var(--color-orange);
            border-top-left-radius: 2px;
            transform: rotate(45deg);
            border-left: 1px solid var(--color-white);
            border-top: 1px solid var(--color-white);
        }
    }
    &__catalog {
        background-color: var(--color-orange);
        padding: 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 4px;
        border-radius: 10px;
        &-burger {
            width: 24px;
            span {
                display: block;
                border-radius: 2px;
                height: 2px;
                width: 24px;
                background-color: var(--color-white);
                margin-bottom: 2px;
            }
        }
    }
    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
        &:not(:last-child) {
            @include hover {
                color: var(--color-orange);
                transition: All 0.3s ease 0s;
            }
        }
    }
    &__box--entry {
        background-color: var(--color-orange);
        padding: 11px 15px 11px 5px;
        border-radius: 10px;
    }
    &__bottom {
        display: flex;
        align-items: center;
        gap: 24px;
        background-color: var(--color-white);
        padding: 16px;
        border: 1px solid #ddd;
        border-radius: 10px;
        position: relative;
    }
    &__cities {
        position: absolute;
        z-index: 9;
        background-color: var(--color-orange);
        top: 35px;
        width: 100%;
        border-radius: 10px;
        padding: 16px 80px 256px 11px;
        box-shadow: 0 0 25px 0 #000;
        border: 1px solid var(--color-white);
        display: flex;
        justify-content: space-between;
        gap: 16px;
        display: none;
        &::after {
            position: absolute;
            content: '';
            width: 20px;
            height: 20px;
            top: -10.8px;
            left: 25px;
            background-color: var(--color-orange);
            border-top-left-radius: 2px;
            transform: rotate(45deg);
            border-left: 1px solid var(--color-white);
            border-top: 1px solid var(--color-white);
        }
        &_block {
            &:first-child {
                flex-basis: 160px;
            }
        }
    }
    &__city {
        margin-bottom: 10px;
        cursor: pointer;
    }
    &__city--mod {
        font-weight: 700;
    }
}

/*----------------------------------header--------------------------------*/