/*----------------------------------header--------------------------------*/
.header {
    position: absolute;
    width: 100%;
    color: var(--color-white);
    padding-top: 16px;
    &--mod {
        .header__top {
            .header__locations,
            .header__text {
                color: var(--color-black);
            }
            justify-content: space-between;
        }
    }
    &__top {
        display: flex;
        align-items: center;
        gap: 24px;
        margin-bottom: 11px;
        position: relative;
        @include desktop {
            gap: 10px;
        }
        @include mobile {
            justify-content: space-between;
        }
        &-logo {
            display: none;
            @include mobile {
                display: block;
                position: relative;
                z-index: 9;
            }
        }
        &--mod {
            justify-content: space-between;
        }
    }
    &__locations {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        position: relative;
        z-index: 9;
        max-width: 180px;
        @include fluid-text(12, 13);
        @include mobile {
            display: none;
        }
        &-place {
            cursor: pointer;
        }
    }
    &__text {
        line-height: 120%;
        position: relative;
        z-index: 9;
        @include fluid-text(10, 12);
        @include desktop {
            max-width: 230px;
        }
        @include mobile {
            max-width: 100%;
            color: var(--color-black);
        }
    }
    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
        margin-bottom: 12px;
        position: relative;
        z-index: 9;
        @include mobile {
            display: none;
        }
        &--mod {
            .header__box {
                color: var(--color-black);
            }
        }
    }
    &__logo {
        z-index: 3; 
        margin-top: 5px;
        @include mobile {
            display: none;
        }
    }
    &__place {
        position: absolute;
        z-index: 99;
        background-color: var(--color-orange);
        top: 35px;
        width: 224px;
        border-radius: 10px;
        padding: 11px;
        box-shadow: 0 0 25px 0 #000;
        border: 1px solid var(--color-white);
        &-text {
            margin-bottom: 11px;
        }
        &-name {
            font-weight: 700;
            @include fluid-text(14, 18);
            margin-bottom: 11px;
        }
        &-buttons {
            display: flex;
            align-items: center;
            gap: 11px;
        }
        &-btn--yes {
            border: 1px solid #f77705;
            border-radius: 10px;
            padding: 7px 20px;
        }
        &-btn--another {
            background-color: inherit;
            color: var(--color-white);
        }
        &::after {
            position: absolute;
            content: '';
            width: 20px;
            height: 20px;
            top: -10.5px;
            left: 25px;
            background-color: var(--color-orange);
            border-top-left-radius: 2px;
            transform: rotate(45deg);
            border-left: 1px solid var(--color-white);
            border-top: 1px solid var(--color-white);
        }
        @include mobile {
            display: none;
        }
    }
    &__catalog {
        background-color: var(--color-orange);
        padding: 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 4px;
        border-radius: 10px;
        position: relative;
        z-index: 9;
        transition: All 0.3s ease 0s;
        @include hover {
            background-color: #D16403;
        }
        &-burger {
            width: 24px;
            span {
                display: block;
                border-radius: 2px;
                height: 2px;
                width: 24px;
                background-color: var(--color-white);
                margin-bottom: 2px;
            }
        }
    }
    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
        @include fluid-text(12, 16);
        &:not(:last-child) {
            @include hover {
                color: var(--color-orange);
                transition: All 0.3s ease 0s;
            }
        }
        @include table {
            display: none;
        }
    }
    &__box--entry {
        background-color: var(--color-orange);
        padding: 11px 15px 11px 5px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        gap: 5px;
        flex: none;
        transition: All 0.3s ease 0s;
        @include hover {
            background-color: #D16403;
        }
    }
    &__bottom {
        display: flex;
        align-items: center;
        gap: 24px;
        background-color: var(--color-white);
        padding: 16px;
        border: 1px solid #ddd;
        border-radius: 10px;
        position: relative;
        z-index: 9;
        @include mobile {
            background-color: inherit;
            border: none;
            height: 0px;
            padding: 0;
        }
    }
    &__links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
        font-family: 'Roboto', Arial, sans-serif;
        color: var(--color-black);
        z-index: 9;
        @include table {
            gap: 5px;
        }
        @include mobile {
            display: none;
        }
        &-inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 16px;
            flex-wrap: wrap;
            @include table {
                gap: 5px;
            }
        }
        .header__link {
            transition: All 0.3s ease 0s;
            @include fluid-text(12, 16);
            @include hover {
                color: var(--color-orange);
           }
            @include hover {
                 svg path {
                    fill: #D16403;
                    transition: All 0.3s ease 0s;
                 }
            }
        }
    }
    
}
.cities {
    position: absolute;
    z-index: 99;
    background-color: var(--color-orange);
    top: 35px;
    width: 100%;
    border-radius: 10px;
    padding: 16px;
    box-shadow: 0 0 25px 0 #000;
    border: 1px solid var(--color-white);
    display: flex;
    justify-content: space-between;
    gap: 16px;
    opacity: 0;
    visibility: hidden;
    &::after {
        position: absolute;
        content: '';
        width: 20px;
        height: 20px;
        top: -10.8px;
        left: 25px;
        background-color: var(--color-orange);
        border-top-left-radius: 2px;
        transform: rotate(45deg);
        border-left: 1px solid var(--color-white);
        border-top: 1px solid var(--color-white);
    }
    &__block {
        span {
            display: block;
            font-size: 16px;
            margin-bottom: 5px;
            cursor: pointer;
        }
        &:first-child {
            flex-basis: 160px;
            span {
                &:first-child,
                &:nth-child(2),
                &:nth-child(3) {
                    font-weight: 700;
                }
            }
        }
    }
    @include mobile {
        display: none;
    }
}
.show {
    opacity: 1;
    visibility: visible;
}
.logo-mobile {
    display: none;
    @include mobile {
        display: block;
        margin-bottom: 10px;
    }
}
/*----------------------------------header--------------------------------*/