/*----------------------------------main-section--------------------------------*/
.main-section {
    position: relative;
    padding-top: 208px;
    margin-bottom: 96px;
    z-index: 3;
    @include mobile {
        padding-top: 60px; 
        margin-bottom: 20px;
    }
    &__content {
        position: relative;
        z-index: 1;
        &--mod {
            @include mobile {
                margin-bottom: 160px;
            }
            .breadcrumbs__item {
                color: var(--color-white);
                opacity: 0.7;
                &:not(:last-child)::after {
                    background-color: var(--color-white);
                    @include mobile {
                        background-color: var(--color-black);
                    }
                }
                @include mobile {
                    color: var(--color-black);
                }
            }
        }
    }
    &__body {
        display: flex;
        justify-content: space-between;
        gap: 16px;
        margin-bottom: 48px;
        flex-wrap: wrap;
        margin-bottom: -100px;
        @include mobile {
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 0px;
        }
        &--mod {
            margin-bottom: -170px;
            .main-section__info {
                flex-basis: 100%;
                p {
                    margin-bottom: 40px;
                    @include fluid-text(16, 18);
                    color: var(--color-white);
                    @include mobile {
                        color: var(--color-black);
                    }
                }
            }
        }
    }
    &--mod {
        margin-bottom: 0px;
    }
    &__button {
        margin-bottom: 40px;
        .button {
            display: inline;
            padding: 10px 40px;
            @include mobile {
                display: inline-block;
            }
        }
    }
    .title {
        margin-bottom: 32px;
        text-transform: uppercase;
        color: var(--color-white);
        @include mobile {
            color: var(--color-black);
        }
    }
    &__info {
        flex-basis: 512px;
        min-width: 0;
        &-image {
            display: none;
            @include mobile {
                display: block;
                width: 100%;
                margin-bottom: 30px;
                img {
                    width: 100%;
                }
            }
        }
        @include table {
            flex-basis: 350px;
        }
        @include mobile {
            flex-basis: 100%;
        }
    }
    &__form {
        flex-basis: 360px;
        @include mobile {
            order: 1;
            flex-basis: 100%;
            max-width: 100%;
        }
        .form {
            @include mobile {
                padding: 20px 10px;
            }
        }
    }
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include mobile {
            display: none;
        }
    }
    &__discount {
        max-width: 320px;
        background-color: var(--color-white);
        text-align: center;
        padding: 10px;
        border-radius: 10px;
        &_percent {
            @include fluid-text(18, 24);
            font-weight: 700;
            color: var(--color-orange);
            margin-bottom: 8px;
        }
        &_text {
            @include fluid-text(16, 18);
        }
        @include mobile {
            border: 1px solid var(--color-orange);
        }
    }
    &__blocks {
       display: flex;
       justify-content: space-between;
       align-items: stretch;
       gap: 16px;
       @include table {
          flex-wrap: wrap;
          max-width: 100%;
       }
       &-wrapper{
           background-color: var(--color-orange);
           border-radius: 10px;
           padding: 20px;
           .block {
               padding: 0;
               &__title {
                max-width: 150px;
               }
           }
           .main-section__blocks {
            margin-bottom: 20px;
           }
           @include mobile {
            background-color: inherit;
            padding: 0px;
            width: 100%;
            .block {
                padding: 10px;
                width: 100%;
            }
        }
       }
    }
    &__links {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        position: absolute;
        z-index: 9;
        top: -190px;
        right: 10px;
        @include mobile {
            position: static;
            flex-wrap: wrap;
            width: 100%;
        }
        &-inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 12px;
            color: var(--color-white);
            @include mobile {
                width: 100%;
                color: var(--color-black);
                font-size: 16px;
                margin-bottom: 20px;
            }
        }
        @include fluid-text(12, 16);
        @include desktop {
            gap: 10px;
        }
        &--mod {
            @include mobile {
                display: none;
            }
        }
    }
    &__link {
        transition: All 0.3s ease 0s;
        white-space: nowrap;
        font-family: 'Roboto', Arial, sans-serif;
        @include hover {
            color: var(--color-orange);
            svg path {
                fill: var(--color-orange);
                transition: All 0.3s ease 0s;
            }
        }
        @include mobile {
            svg {
                width: 35px;
                height: 28px;
                path {
                    fill: #F77705;
                }
            }
        }
        &--mod {
            @include mobile {
                svg {
                    width: 80px;
                }
            }
        }
    }
    &__container {
        background-color: var(--color-orange-altr);
        padding: 20px;
        border-radius: var(--border-radius);
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
        width: 100%;
        margin-bottom: 160px;
        @include mobile {
            display: block;
            background-color: inherit;
            padding: 0;
            margin-bottom: 40px;
        }
        .title {
            margin-bottom: 0px;
            @include mobile {
                color: var(--color-white);
                margin-bottom: 10px;
                background-color: var(--color-orange-altr);
                padding: 10px;
                border-radius: 10px;
            }
        }
        &--mod {
            margin-bottom: 60px;
            @include mobile {
                margin-bottom: 0px;
            }
        }
    }
    &__box {
        color: var(--color-white);
        h3 {
            font-weight: 700;
            @include fluid-text(17, 24);
            margin-bottom: 10px;
        }
        p {
            @include fluid-text(15, 18);
        }
        span {
            font-weight: 700;
        }
        @include mobile {
            color: var(--color-black);
        }
    }
    &__item {
        display: flex;
        align-items: center;
        gap: 10px;
        @include mobile {
            svg path {
                fill: #171717;
            }
            align-items: start;
        }
    }
    &__download {
        color: var(--color-white);
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        &-button {
            background-color: var(--color-white);
            color: var(--color-black);
            padding: 10px 50px;
            white-space: nowrap;
            border-radius: 10px;
            border: 1px solid var(--color-white);
            transition: All 0.3s ease 0s;
            @include fluid-text(14, 16);
            text-align: center;
            display: block;
            @include hover {
                border: 1px solid var(--color-white);
                background-color: var(--color-orange);
                color: var(--color-white);
            }
            @include mobile {
                width: 100%;
                border: 1px solid var(--color-orange);
                color: var(--color-black);
            }
        }
        @include mobile {
            flex-wrap: wrap;
            width: 100%;
            margin-bottom: 30px;
            color: var(--color-black);
        }
    }
    .tags {
        margin-top: 0px;
    }
    &__hidden {
        .toggle-btn__wrapper {
            margin-bottom: 0px;
        }
        @include mobile {
            display: none;
        }
    }
    &__solid {
        background-color: var(--color-orange-altr);
        padding: 20px;
        border-radius: var(--border-radius);
        width: 100%;
        .title {
            text-transform: none;
            margin-bottom: 0px;
            color: var(--color-white);
        }
        @include mobile {
            padding: 10px;
        }
    }
}

.block {
    background-color: var(--color-orange);
    padding: 20px;
    border-radius: 10px;
    flex-basis: 360px;
    color: var(--color-white);
    @include table {
        flex-basis: 100%;
    }
    &__icon {
        margin-bottom: 9px;
    }
    &__title {
        @include fluid-text(18, 24);
        margin-bottom: 9px;
        font-weight: 700;
        line-height: 120%;
    }
    &__text {
        @include fluid-text(16, 18);
        line-height: 120%;
    }
 }
.service-block {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 30px;
    background-color: var(--color-white);
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    @include mobile {
        flex-wrap: wrap;
    }
    &__image {
        flex-basis: 245px;
        img {
            border-radius: 10px;
            width: 100%;
        }
        @include mobile {
           flex-basis: 100%;
        }
    }
    &__info {
        flex-basis: 580px;
        h3 {
            @include fluid-text(18, 24);
            font-weight: 700;
            margin-bottom: 10px;
        }
        p {
            @include fluid-text(16, 18);
            line-height: 120%;
        }
        @include mobile {
            flex-basis: 100%;
        }
    }
    &__buttons {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        @include mobile {
            flex-basis: 100%;
        }
    }
    &__button {
        width: 100%;
    }
    &--mod {
        padding: 0px;
        background-color: inherit;
        border: none;
        padding-bottom: 20px;
        border-bottom: 1px solid var(--color-orange);
        margin-bottom: 40px;
        border-radius: 0px;
        gap: 20px;
        .service-block__image,
        .service-block__button {
            flex-basis: 275px;
            @include mobile {
                flex-basis: 100%;
            }
        }
        @include mobile {
            border-bottom: none;
            margin-bottom: 20px;
        }
    }
}
.slider-desktop {
    @include mobile {
        display: none;
    }
}
.slider-mobile {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    @include mobile {
        opacity: 1;
        visibility: visible;
        position: static;
        margin-bottom: 20px;
        .main-slider {
            max-width: 100%;
        }
        .main-section__discount {
            max-width: 100%;
        }
    }
 }
.tags__wrapper {
    width: 100%; 
    overflow-x: auto;
    white-space: nowrap; 
    overflow-y: hidden;
}
.tags {
    margin-top: 160px;
    display: flex;
    align-items: center;
    gap: 5px 10px;
    flex-wrap: wrap;
    transition: max-height 1s ease-in-out;
    min-width: 900px;
    @include mobile {
        margin-top: 0px;
    }
}
.tag {
    padding: 10px 20px;
    border: 1px solid rgba(23, 23, 23, 0.7);
    border-radius: 20px;
    display: inline-block;
    @include fluid-text(12, 16);
    background-color: var(--color-white);
    @include mobile {
        padding: 8px 10px;
    }
}

.tags.collapsed {
    max-height: 95px; 
    @include mobile {
        max-height: 80px; 
    }
}
.toggle-btn {
    margin-top: 10px;
    border: none;
    cursor: pointer;
    text-align: center;
    background-color: inherit;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @include hover {
        color: var(--color-orange);
    }
    &__wrapper {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }
}
.arrow {
    transition: transform 0.3s ease-in-out;
}
  
.tags:not(.collapsed) + .toggle-btn .arrow {
    transform: rotate(360deg); 
}
  
/*----------------------------------main-section--------------------------------*/