/*----------------------------------radio-buttons--------------------------------*/
.radio-button input[type="radio"] {
    display: none;
  }
  .radio-button {
    display: flex;
    cursor: pointer;
    font-size: 18px;
    line-height: 156%;
  }
  .custom-radio {
    width: 10px;
    height: 10px;
    border: 1px solid var(--color-black);
    border-radius: 4px;
    margin-right: 10px;
    position: relative;
    transition: border-color 0.3s ease, background-color 0.3s ease;
    flex: none;
  }
  .radio-button input[type="radio"]:checked + .custom-radio {
    border-color: black;
    color: var(--color-white);
  }
  .radio-button input[type="radio"]:checked + .custom-radio::after {
    content: '';
    width: 5px;
    height: 5px;
    background-color: var(--color-orange);
    border-radius: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

/*----------------------------------radio-buttons--------------------------------*/