/*----------------------------------rating--------------------------------*/

.rating {
    &__content {
        .title {
            margin-bottom: 32px;
        }
    }

    &__top {
        display: flex;
        align-items: center;
        gap: 16px 112px;
        margin-bottom: 40px;
        @include mobile {
            flex-wrap: wrap;
        }
        &_block {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 16px;
            &:first-child {
                display: block;
            }
            &:last-child {
                flex-basis: 432px;
            }
        }
    }
     
    &__cards {
       display: grid;
       grid-template-columns:repeat(auto-fit, minmax(270px, 1fr));
       gap: 40px 21px;
       @include mobile {
        width: 100%;
       } 
    }
    &__card {
        display: grid;
        grid-template-rows: auto 56px 1fr 40px;
        @include mobile {
            width: 100%;
        } 
        &_image {
            padding: 182px 0px 0px 0px;
            img {
                border-radius: 10px;
                width: 100%;
            }
            margin-bottom: 21px;
        }
        &_title {
            @include fluid-text(18,24);
            font-weight: 700;
            margin-bottom: 11px;
        }
        &_text {
            margin-bottom: 16px;
        }
    }
}


/*----------------------------------rating--------------------------------*/