/*----------------------------------section-table--------------------------------*/

.section-table {
    &__content {
        .title {
            margin-bottom: 10px;
        }
        p {
           margin-bottom: 40px;
        }
    }
    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        gap: 20px;
        p {
            flex-basis: 580px;
            margin-bottom: 0px;
            line-height: 120%;
            @include mobile {
                flex-basis: 100%;
            }
        }
        .type__block {
            flex-basis: 550px;
            @include mobile {
                flex-basis: 100%;
                padding: 10px;
            }
        }
        @include mobile {
            flex-wrap: wrap;
            .button {
                max-width: 100%;
            }
        }
    }
}

.table {
    width: 100%;
    border-collapse: collapse; 
    &__head {
        background-color: #EA984F;
        color: var(--color-white);
        border-top-right-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
        td {
            padding: 20px;
            border-top-left-radius: var(--border-radius);
            border-bottom-left-radius: var(--border-radius);
        }
        tr {
            border-radius: var(--border-radius);
        }
        @include mobile {
            display: none;
        }
    }
    &__body tr {
        border-bottom: 1px solid var(--color-orange);
        @include mobile {
            display: grid;
            grid-template-columns: 1fr;
        }
        td {
            padding: 10px 10px 10px 0px;
            line-height: 120%;
            @include mobile {
                display: block;
                width: 100%;
            }
        }
    }
    &--mod {
        margin-bottom: 40px;
    }
}
td.price {
    text-align: left;
    padding: 10px 0px;
    width: 265px;
    font-family: 'Roboto', Arial, sans-serif;
    span {
        font-weight: 700;
        font-size: 16px;
        display: block;
    }
}
td.table__title {
    padding-left: 10px;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    position: relative;
    &--mod {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    &::before {
        position: absolute;
        content: '';
        width: 1px;
        height: 40px;
        top: 50%;
        left: 0;
        transform: translate(-50%, -50%);
        background-color: var(--color-white);
    }
}
td.table__subtitle {
    font-weight: 700;
}
.table--mod td[colspan="2"] {
    width: calc(100% / 7 * 1);
}
.table--mod2 td[colspan="1"] {
    width: calc(100% / 4 * 1);
}
.table--mod td.price {
    width: calc(100% / 7);
}
  
@include mobile {
    .table--mod td[colspan="2"],
    .table--mod td.price {
      width: auto; 
      display: block;
      text-align: left;
      padding: 5px;
    }
    .table--mod td.price {
        padding: 10px 0px;
        display: flex;
        align-items: center;
    }
    .table__body-title {
        font-weight: 700;
        margin-top: 10px;
    }
}

/*----------------------------------section-table--------------------------------*/