/*---------------------------------------sliders----------------------------*/
.main-slider {
    overflow: hidden;
    position: relative;
    padding-bottom: 40px;
    max-width: 320px;
}
.categories-slider {
  overflow: hidden;
  padding: 0rem 1.5rem;
}
  /*---------------------------------------параметры чтобы слайды имели одинаковую высоту----------------------------*/
  .categories-slider .swiper-wrapper {
    display: flex;
    align-items: stretch;
}
  .categories-slider .swiper-slide {
    height: auto;
}
  .card,
  .categories__card--mod {
    height: 100%;
}
  /*---------------------------------------параметры чтобы слайды имели одинаковую высоту----------------------------*/
  .categories__wrapper .swiper-button-next,
  .categories__wrapper .swiper-button-prev {
    top: 44%;
    border-radius: 50%;
    background-color: var(--color-orange);
    border: 2px solid var(--color-white);
    width: 30px;
    height: 30px;
}
  .categories__wrapper .swiper-button-next {
    right: 0;
}
  .categories__wrapper .swiper-button-prev {
    left: 0;
}
  .categories__wrapper .swiper-button-next::after,
  .categories__wrapper .swiper-button-prev::after {
    color: var(--color-white);
    font-size: 10px;
}
.main-slider .swiper-pagination-bullet {
    opacity: 1;
    background-color: #D9D9D9;
    transition: All 0.5s ease 0s;
    width: 0.7rem;
    height: 0.7rem;
}
.main-slider .swiper-pagination-bullet-active {
    background-color: var(--color-orange);
}

/*---------------------------------------sliders----------------------------*/