@mixin fluid-text($min: 14, $max: 24) {
    font-size: clamp(#{$min}px,#{$max / 1440 * 100}vw,#{$max}px);
}

@mixin desktop {
    @media(max-width: $desktop) {
        @content;
    }
}
@mixin table {
    @media(max-width: $table) {
        @content;
    }
}
@mixin mobile {
    @media(max-width: $mobile) {
        @content;
    }
}

@mixin hover {
    @media (hover: hover) {
      &:hover {
        @content;
      }
    }
}
@mixin custom-box {
    background-color: var(--color-white);
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: var(--border-radius);
    @include mobile {
        padding: 20px 10px;
    }
}