:root {
    --color-black: #171717;
    --color-white: #FFFFFF;
    --color-gray: #F4F4F4;
    --color-orange: #F77705;
    --color-orange-altr: #EA984F;

    --border: 1px solid var(--color-black);
    --border-radius: 10px;
    --border-radius-small: 0.4rem;

    --shadow: 0px 0px 20px 0px var(--color-black);

    --font-family-base: 'Corbel', Arial, sans-serif;

    --container-width: 73.8rem;
}