* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

a:focus,
a:active {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  font-size: 100%;
  line-height: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100dvh;
  min-width: 320px;
  scroll-behavior: smooth;
}

input,
button,
textarea {
  font-family: inherit;
  resize: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a {
  font-size: inherit;
  color: inherit;
  display: inherit;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

h1, h2, h3, h4, h5, h6, p, address, cite, span, ul, li {
  font-style: normal;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

@font-face {
  font-family: "Corbel";
  src: url("../fonts/Corbel-Light.woff2") format(woff2);
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Corbel";
  src: url("../fonts/Corbel.woff2") format(woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Corbel";
  src: url("../fonts/Corbel-Bold.woff2") format(woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format(woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format(woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-black: #171717;
  --color-white: #FFFFFF;
  --color-gray: #F4F4F4;
  --color-orange: #F77705;
  --color-orange-altr: #EA984F;
  --border: 1px solid var(--color-black);
  --border-radius: 10px;
  --border-radius-small: 0.4rem;
  --shadow: 0px 0px 20px 0px var(--color-black);
  --font-family-base: "Corbel", Arial, sans-serif;
  --container-width: 73.8rem;
}

/*----------------------------------header--------------------------------*/
.header {
  position: absolute;
  width: 100%;
  color: var(--color-white);
  padding-top: 16px;
}
.header--mod .header__top {
  justify-content: space-between;
}
.header--mod .header__top .header__locations,
.header--mod .header__top .header__text {
  color: var(--color-black);
}
.header__top {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 11px;
  position: relative;
}
@media (max-width: 1280px) {
  .header__top {
    gap: 10px;
  }
}
@media (max-width: 768px) {
  .header__top {
    justify-content: space-between;
  }
}
.header__top-logo {
  display: none;
}
@media (max-width: 768px) {
  .header__top-logo {
    display: block;
    position: relative;
    z-index: 9;
  }
}
.header__top--mod {
  justify-content: space-between;
}
.header__locations {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  position: relative;
  z-index: 9;
  max-width: 180px;
  font-size: clamp(12px, 0.9027777778vw, 13px);
}
@media (max-width: 768px) {
  .header__locations {
    display: none;
  }
}
.header__locations-place {
  cursor: pointer;
}
.header__text {
  line-height: 120%;
  position: relative;
  z-index: 9;
  font-size: clamp(10px, 0.8333333333vw, 12px);
}
@media (max-width: 1280px) {
  .header__text {
    max-width: 230px;
  }
}
@media (max-width: 768px) {
  .header__text {
    max-width: 100%;
    color: var(--color-black);
  }
}
.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  margin-bottom: 12px;
  position: relative;
  z-index: 9;
}
@media (max-width: 768px) {
  .header__body {
    display: none;
  }
}
.header__body--mod .header__box {
  color: var(--color-black);
}
.header__logo {
  z-index: 3;
  margin-top: 5px;
}
@media (max-width: 768px) {
  .header__logo {
    display: none;
  }
}
.header__place {
  position: absolute;
  z-index: 99;
  background-color: var(--color-orange);
  top: 35px;
  width: 224px;
  border-radius: 10px;
  padding: 11px;
  box-shadow: 0 0 25px 0 #000;
  border: 1px solid var(--color-white);
}
.header__place-text {
  margin-bottom: 11px;
}
.header__place-name {
  font-weight: 700;
  font-size: clamp(14px, 1.25vw, 18px);
  margin-bottom: 11px;
}
.header__place-buttons {
  display: flex;
  align-items: center;
  gap: 11px;
}
.header__place-btn--yes {
  border: 1px solid #f77705;
  border-radius: 10px;
  padding: 7px 20px;
}
.header__place-btn--another {
  background-color: inherit;
  color: var(--color-white);
}
.header__place::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  top: -10.5px;
  left: 25px;
  background-color: var(--color-orange);
  border-top-left-radius: 2px;
  transform: rotate(45deg);
  border-left: 1px solid var(--color-white);
  border-top: 1px solid var(--color-white);
}
@media (max-width: 768px) {
  .header__place {
    display: none;
  }
}
.header__catalog {
  background-color: var(--color-orange);
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  border-radius: 10px;
  position: relative;
  z-index: 9;
  transition: All 0.3s ease 0s;
}
@media (hover: hover) {
  .header__catalog:hover {
    background-color: #D16403;
  }
}
.header__catalog-burger {
  width: 24px;
}
.header__catalog-burger span {
  display: block;
  border-radius: 2px;
  height: 2px;
  width: 24px;
  background-color: var(--color-white);
  margin-bottom: 2px;
}
.header__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  font-size: clamp(12px, 1.1111111111vw, 16px);
}
@media (hover: hover) {
  .header__box:not(:last-child):hover {
    color: var(--color-orange);
    transition: All 0.3s ease 0s;
  }
}
@media (max-width: 1024px) {
  .header__box {
    display: none;
  }
}
.header__box--entry {
  background-color: var(--color-orange);
  padding: 11px 15px 11px 5px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  flex: none;
  transition: All 0.3s ease 0s;
}
@media (hover: hover) {
  .header__box--entry:hover {
    background-color: #D16403;
  }
}
.header__bottom {
  display: flex;
  align-items: center;
  gap: 24px;
  background-color: var(--color-white);
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 10px;
  position: relative;
  z-index: 9;
}
@media (max-width: 768px) {
  .header__bottom {
    background-color: inherit;
    border: none;
    height: 0px;
    padding: 0;
  }
}
.header__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  font-family: "Roboto", Arial, sans-serif;
  color: var(--color-black);
  z-index: 9;
}
@media (max-width: 1024px) {
  .header__links {
    gap: 5px;
  }
}
@media (max-width: 768px) {
  .header__links {
    display: none;
  }
}
.header__links-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}
@media (max-width: 1024px) {
  .header__links-inner {
    gap: 5px;
  }
}
.header__links .header__link {
  transition: All 0.3s ease 0s;
  font-size: clamp(12px, 1.1111111111vw, 16px);
}
@media (hover: hover) {
  .header__links .header__link:hover {
    color: var(--color-orange);
  }
}
@media (hover: hover) {
  .header__links .header__link:hover svg path {
    fill: #D16403;
    transition: All 0.3s ease 0s;
  }
}

.cities {
  position: absolute;
  z-index: 99;
  background-color: var(--color-orange);
  top: 35px;
  width: 100%;
  border-radius: 10px;
  padding: 16px;
  box-shadow: 0 0 25px 0 #000;
  border: 1px solid var(--color-white);
  display: flex;
  justify-content: space-between;
  gap: 16px;
  opacity: 0;
  visibility: hidden;
}
.cities::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  top: -10.8px;
  left: 25px;
  background-color: var(--color-orange);
  border-top-left-radius: 2px;
  transform: rotate(45deg);
  border-left: 1px solid var(--color-white);
  border-top: 1px solid var(--color-white);
}
.cities__block span {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
  cursor: pointer;
}
.cities__block:first-child {
  flex-basis: 160px;
}
.cities__block:first-child span:first-child, .cities__block:first-child span:nth-child(2), .cities__block:first-child span:nth-child(3) {
  font-weight: 700;
}
@media (max-width: 768px) {
  .cities {
    display: none;
  }
}

.show {
  opacity: 1;
  visibility: visible;
}

.logo-mobile {
  display: none;
}
@media (max-width: 768px) {
  .logo-mobile {
    display: block;
    margin-bottom: 10px;
  }
}

/*----------------------------------header--------------------------------*/
/*----------------------------------menu--------------------------------*/
.menu {
  width: 100%;
}
.menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px 30px;
  width: 100%;
}
@media (hover: hover) {
  .menu ul li:hover .menu__dropdown {
    opacity: 1;
    visibility: visible;
  }
}
@media (max-width: 1024px) {
  .menu ul {
    gap: 5px;
  }
}
.menu__link {
  line-height: 120%;
  color: var(--color-black);
  position: relative;
  font-size: clamp(14px, 1.1111111111vw, 16px);
  transition: All 0.3s ease 0s;
  display: inline-block;
}
@media (hover: hover) {
  .menu__link:hover {
    color: var(--color-orange);
  }
}
.menu__link-promo {
  position: absolute;
  top: -5px;
  right: -10px;
  width: 12px;
  height: 12px;
  background-color: var(--color-orange);
  color: var(--color-white);
  padding-bottom: 3px;
  border-radius: 50%;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__contacts {
  display: none;
}
.menu__contact {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.menu__messengers {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}
.menu__close {
  display: none;
}
@media (max-width: 768px) {
  .menu {
    position: fixed;
    right: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    transition: All 0.3s ease 0s;
    background: rgba(0, 0, 0, 0.51);
    z-index: 9;
    color: var(--color-white);
  }
  .menu__close {
    display: block;
    font-size: 30px;
    position: absolute;
    top: 0;
    right: 0;
  }
  .menu__contacts {
    display: block;
  }
  .menu__wrap {
    overflow: auto;
    height: 100%;
    margin-left: 75px;
    background-color: var(--color-orange);
    padding: 20px;
  }
  .menu._active {
    right: 0;
  }
  .menu__list-item:not(:last-child) {
    margin-bottom: 10px;
  }
  .menu__wrapper {
    height: 100%;
  }
  .menu ul {
    display: block;
    position: relative;
  }
  .menu ul li {
    color: var(--color-white);
  }
  .menu .menu__link {
    color: var(--color-white);
    font-size: 18px;
    line-height: 150%;
  }
  .menu .open-submenu {
    opacity: 1;
    visibility: visible;
    position: static;
    box-shadow: none;
    padding-top: 0px;
  }
  .menu .open-submenu .menu__dropdown-inner {
    padding: 0;
    background-color: inherit;
    box-shadow: none;
  }
  .menu .open-submenu .menu__dropdown-inner ul {
    margin-left: 0;
    padding: 10px;
  }
  .menu .open-submenu .menu__dropdown-inner ul li {
    margin-bottom: 10px;
  }
  .menu .open-submenu .menu__dropdown-inner::after {
    display: none;
  }
}
.menu__dropdown {
  opacity: 0;
  visibility: hidden;
  color: var(--color-black);
  position: absolute;
  width: 208px;
  padding-top: 32px;
  border-radius: 10px;
  box-shadow: -1px 56px 80px -1px rgba(34, 60, 80, 0.2);
}
.menu__dropdown-inner {
  background-color: var(--color-white);
  border-radius: 10px;
  padding: 16px 10px;
  position: relative;
  box-shadow: 2px -8px 21px 0px rgba(34, 60, 80, 0.2);
  z-index: 9;
}
.menu__dropdown-inner ul {
  flex-direction: column;
  align-items: start;
}
.menu__dropdown-inner ul li {
  transition: All 0.3s ease 0s;
}
@media (hover: hover) {
  .menu__dropdown-inner ul li:hover {
    color: var(--color-orange);
  }
}
.menu__dropdown-inner::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  top: -8px;
  left: 17px;
  background-color: var(--color-white);
  border-radius: 2px;
  transform: rotate(45deg);
}
.menu__dropdown-submenu {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
.menu__dropdown--mod {
  width: 100%;
  left: 0;
}
.menu__dropdown--mod::-webkit-scrollbar {
  display: none;
}
.menu__dropdown--mod .menu__dropdown-inner::after {
  left: 26%;
}
@media (max-width: 768px) {
  .menu__dropdown--mod {
    display: none;
  }
}
.menu__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
.menu__block-title {
  font-weight: 700;
  font-size: 24px;
  color: var(--color-orange);
  margin-bottom: 11px;
  line-height: 100%;
}
.menu__block-subtitle {
  font-weight: 700;
  margin-bottom: 11px;
  transition: All 0.3s ease 0s;
}
@media (hover: hover) {
  .menu__block-subtitle:hover {
    color: var(--color-orange);
  }
}
.menu__block ul {
  margin-bottom: 11px;
}

/*----------------------------------menu--------------------------------*/
/*----------------------------------search--------------------------------*/
.search {
  flex-basis: 416px;
}
@media (max-width: 1024px) {
  .search {
    flex-basis: 100%;
  }
}
.search__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.9rem;
  background-color: var(--color-orange);
  padding: 1px 1px 1px 31px;
  border-radius: 10px;
}
.search__label_input {
  width: 100%;
  border-radius: 10px;
  padding: 0.75rem 0.9rem;
}
.search__label_input::-moz-placeholder {
  font-size: clamp(12px, 1.1111111111vw, 16px);
}
.search__label_input::placeholder {
  font-size: clamp(12px, 1.1111111111vw, 16px);
}
.search-mobile {
  color: var(--color-white);
  display: none;
}
@media (max-width: 768px) {
  .search-mobile {
    display: block;
  }
}

/*----------------------------------search--------------------------------*/
/*----------------------------------burger--------------------------------*/
.burger__wrapper {
  display: none;
}
@media (max-width: 768px) {
  .burger__wrapper {
    width: 36px;
    height: 36px;
    flex: 0 0 auto;
    background-color: var(--color-orange);
    border-radius: 8px;
    position: relative;
    display: block;
    z-index: 9;
  }
  .burger__wrapper .burger {
    z-index: 2;
    cursor: pointer;
  }
  .burger__wrapper .burger__line {
    height: 2px;
    width: 20px;
    position: absolute;
    transition: all 0.3s ease 0s;
    background: var(--color-white);
    transform: translate(-50%, -50%);
    border-radius: 1px;
  }
  .burger__wrapper .burger__line:first-child {
    left: 50%;
    top: 32%;
  }
  .burger__wrapper .burger__line:nth-child(2) {
    left: 50%;
    top: 50%;
  }
  .burger__wrapper .burger__line:last-child {
    top: 67%;
    width: 15px;
    right: 0.29px;
  }
}

/*----------------------------------burger--------------------------------*/
/*----------------------------------main-section--------------------------------*/
.main-section {
  position: relative;
  padding-top: 208px;
  margin-bottom: 96px;
  z-index: 3;
}
@media (max-width: 768px) {
  .main-section {
    padding-top: 60px;
    margin-bottom: 20px;
  }
}
.main-section__content {
  position: relative;
  z-index: 1;
}
@media (max-width: 768px) {
  .main-section__content--mod {
    margin-bottom: 160px;
  }
}
.main-section__content--mod .breadcrumbs__item {
  color: var(--color-white);
  opacity: 0.7;
}
.main-section__content--mod .breadcrumbs__item:not(:last-child)::after {
  background-color: var(--color-white);
}
@media (max-width: 768px) {
  .main-section__content--mod .breadcrumbs__item:not(:last-child)::after {
    background-color: var(--color-black);
  }
}
@media (max-width: 768px) {
  .main-section__content--mod .breadcrumbs__item {
    color: var(--color-black);
  }
}
.main-section__body {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 48px;
  flex-wrap: wrap;
  margin-bottom: -100px;
  position: relative;
}
@media (max-width: 768px) {
  .main-section__body {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 0px;
  }
}
.main-section__body--mod {
  margin-bottom: -170px;
}
.main-section__body--mod .main-section__info {
  flex-basis: 100%;
}
.main-section__body--mod .main-section__info p {
  margin-bottom: 40px;
  font-size: clamp(16px, 1.25vw, 18px);
  color: var(--color-white);
}
@media (max-width: 768px) {
  .main-section__body--mod .main-section__info p {
    color: var(--color-black);
  }
}
.main-section--mod {
  margin-bottom: 0px;
}
.main-section__button {
  margin-bottom: 40px;
}
.main-section__button .button {
  display: inline;
  padding: 10px 40px;
}
@media (max-width: 768px) {
  .main-section__button .button {
    display: inline-block;
  }
}
.main-section .title {
  margin-bottom: 32px;
  text-transform: uppercase;
  color: var(--color-white);
}
@media (max-width: 768px) {
  .main-section .title {
    color: var(--color-black);
  }
}
.main-section__info {
  flex-basis: 512px;
  min-width: 0;
}
.main-section__info-image {
  display: none;
}
@media (max-width: 768px) {
  .main-section__info-image {
    display: block;
    width: 100%;
    margin-bottom: 30px;
  }
  .main-section__info-image img {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .main-section__info {
    flex-basis: 350px;
  }
}
@media (max-width: 768px) {
  .main-section__info {
    flex-basis: 100%;
  }
}
.main-section__form {
  flex-basis: 360px;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .main-section__form {
    order: 1;
    flex-basis: 100%;
    max-width: 100%;
    margin-bottom: 0px;
  }
}
@media (max-width: 768px) {
  .main-section__form .form {
    padding: 20px 10px;
  }
}
.main-section__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (max-width: 768px) {
  .main-section__bg {
    display: none;
  }
}
.main-section__discount {
  max-width: 360px;
  background-color: var(--color-white);
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}
.main-section__discount_percent {
  font-size: clamp(18px, 1.6666666667vw, 24px);
  font-weight: 700;
  color: var(--color-orange);
  margin-bottom: 8px;
}
.main-section__discount_text {
  font-size: clamp(16px, 1.25vw, 18px);
}
@media (max-width: 768px) {
  .main-section__discount {
    border: 1px solid var(--color-orange);
  }
}
.main-section__blocks {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 16px;
}
@media (max-width: 1024px) {
  .main-section__blocks {
    flex-wrap: wrap;
    max-width: 100%;
  }
}
.main-section__blocks-wrapper {
  background-color: var(--color-orange);
  border-radius: 10px;
  padding: 20px;
}
.main-section__blocks-wrapper .block {
  padding: 0;
}
.main-section__blocks-wrapper .block__title {
  max-width: 150px;
}
.main-section__blocks-wrapper .main-section__blocks {
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .main-section__blocks-wrapper {
    background-color: inherit;
    padding: 0px;
    width: 100%;
  }
  .main-section__blocks-wrapper .block {
    padding: 10px;
    width: 100%;
  }
}
.main-section__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  position: absolute;
  z-index: 9;
  top: -190px;
  right: 10px;
  font-size: clamp(12px, 1.1111111111vw, 16px);
}
@media (max-width: 768px) {
  .main-section__links {
    position: static;
    flex-wrap: wrap;
    width: 100%;
  }
}
.main-section__links-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  color: var(--color-white);
}
@media (max-width: 768px) {
  .main-section__links-inner {
    width: 100%;
    color: var(--color-black);
    font-size: 16px;
    margin-bottom: 20px;
  }
}
@media (max-width: 1280px) {
  .main-section__links {
    gap: 10px;
  }
}
@media (max-width: 768px) {
  .main-section__links--mod {
    display: none;
  }
}
.main-section__link {
  transition: All 0.3s ease 0s;
  white-space: nowrap;
  font-family: "Roboto", Arial, sans-serif;
}
@media (hover: hover) {
  .main-section__link:hover {
    color: var(--color-orange);
  }
  .main-section__link:hover svg path {
    fill: var(--color-orange);
    transition: All 0.3s ease 0s;
  }
}
@media (max-width: 768px) {
  .main-section__link svg {
    width: 35px;
    height: 28px;
  }
  .main-section__link svg path {
    fill: #F77705;
  }
}
@media (max-width: 768px) {
  .main-section__link--mod svg {
    width: 80px;
  }
}
.main-section__container {
  background-color: var(--color-orange-altr);
  padding: 20px;
  border-radius: var(--border-radius);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  width: 100%;
  margin-bottom: 160px;
}
@media (max-width: 768px) {
  .main-section__container {
    display: block;
    background-color: inherit;
    padding: 0;
    margin-bottom: 40px;
  }
}
.main-section__container .title {
  margin-bottom: 0px;
}
@media (max-width: 768px) {
  .main-section__container .title {
    color: var(--color-white);
    margin-bottom: 10px;
    background-color: var(--color-orange-altr);
    padding: 10px;
    border-radius: 10px;
  }
}
.main-section__container--mod {
  margin-bottom: 60px;
}
@media (max-width: 768px) {
  .main-section__container--mod {
    margin-bottom: 0px;
  }
}
.main-section__box {
  color: var(--color-white);
}
.main-section__box h3 {
  font-weight: 700;
  font-size: clamp(17px, 1.6666666667vw, 24px);
  margin-bottom: 10px;
}
.main-section__box p {
  font-size: clamp(15px, 1.25vw, 18px);
}
.main-section__box span {
  font-weight: 700;
}
@media (max-width: 768px) {
  .main-section__box {
    color: var(--color-black);
  }
}
.main-section__item {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (max-width: 768px) {
  .main-section__item {
    align-items: start;
  }
  .main-section__item svg path {
    fill: #171717;
  }
}
.main-section__download {
  color: var(--color-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.main-section__download-button {
  background-color: var(--color-white);
  color: var(--color-black);
  padding: 10px 50px;
  white-space: nowrap;
  border-radius: 10px;
  border: 1px solid var(--color-white);
  transition: All 0.3s ease 0s;
  font-size: clamp(14px, 1.1111111111vw, 16px);
  text-align: center;
  display: block;
}
@media (hover: hover) {
  .main-section__download-button:hover {
    border: 1px solid var(--color-white);
    background-color: var(--color-orange);
    color: var(--color-white);
  }
}
@media (max-width: 768px) {
  .main-section__download-button {
    width: 100%;
    border: 1px solid var(--color-orange);
    color: var(--color-black);
  }
}
@media (max-width: 768px) {
  .main-section__download {
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 30px;
    color: var(--color-black);
  }
}
.main-section .tags {
  margin-top: 0px;
}
.main-section__hidden .toggle-btn__wrapper {
  margin-bottom: 0px;
}
@media (max-width: 768px) {
  .main-section__hidden {
    display: none;
  }
}
.main-section__solid {
  background-color: var(--color-orange-altr);
  padding: 20px;
  border-radius: var(--border-radius);
  width: 100%;
}
.main-section__solid .title {
  text-transform: none;
  margin-bottom: 0px;
  color: var(--color-white);
}
@media (max-width: 768px) {
  .main-section__solid {
    padding: 10px;
  }
}

.block {
  background-color: var(--color-orange);
  padding: 20px;
  border-radius: 10px;
  flex-basis: 360px;
  color: var(--color-white);
}
@media (max-width: 1024px) {
  .block {
    flex-basis: 100%;
  }
}
.block__icon {
  margin-bottom: 9px;
}
.block__title {
  font-size: clamp(18px, 1.6666666667vw, 24px);
  margin-bottom: 9px;
  font-weight: 700;
  line-height: 120%;
}
.block__text {
  font-size: clamp(16px, 1.25vw, 18px);
  line-height: 120%;
}

.service-blocks {
  position: relative;
  z-index: 2;
}

.service-block {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 30px;
  background-color: var(--color-white);
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: var(--border-radius);
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .service-block {
    padding: 20px 10px;
  }
}
@media (max-width: 768px) {
  .service-block {
    flex-wrap: wrap;
  }
}
.service-block__image {
  flex-basis: 245px;
}
.service-block__image img {
  border-radius: 10px;
  width: 100%;
}
@media (max-width: 768px) {
  .service-block__image {
    flex-basis: 100%;
  }
}
.service-block__info {
  flex-basis: 580px;
}
.service-block__info h3 {
  font-size: clamp(18px, 1.6666666667vw, 24px);
  font-weight: 700;
  margin-bottom: 10px;
}
.service-block__info p {
  font-size: clamp(16px, 1.25vw, 18px);
  line-height: 120%;
}
@media (max-width: 768px) {
  .service-block__info {
    flex-basis: 100%;
  }
}
.service-block__buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
@media (max-width: 768px) {
  .service-block__buttons {
    flex-basis: 100%;
  }
}
.service-block__button {
  width: 100%;
}
.service-block--mod {
  padding: 0px;
  background-color: inherit;
  border: none;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--color-orange);
  margin-bottom: 40px;
  border-radius: 0px;
  gap: 20px;
}
.service-block--mod .service-block__image,
.service-block--mod .service-block__button {
  flex-basis: 275px;
}
@media (max-width: 768px) {
  .service-block--mod .service-block__image,
  .service-block--mod .service-block__button {
    flex-basis: 100%;
  }
}
@media (max-width: 768px) {
  .service-block--mod {
    border-bottom: none;
    margin-bottom: 20px;
  }
}

.main-slider {
  position: absolute;
  left: 0;
  top: 300px;
}
@media (max-width: 1024px) {
  .main-slider {
    position: static;
    margin-bottom: 20px;
  }
  .main-slider .main-section__discount {
    max-width: 100%;
  }
}

.tags__wrapper {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  overflow-y: hidden;
}

.tags {
  margin-top: 50px;
  display: flex;
  align-items: center;
  gap: 5px 10px;
  flex-wrap: wrap;
  transition: max-height 1s ease-in-out;
  min-width: 900px;
}
@media (max-width: 768px) {
  .tags {
    margin-top: 0px;
  }
}

.tag {
  padding: 10px 20px;
  border: 1px solid rgba(23, 23, 23, 0.7);
  border-radius: 20px;
  display: inline-block;
  font-size: clamp(12px, 1.1111111111vw, 16px);
  background-color: var(--color-white);
}
@media (max-width: 768px) {
  .tag {
    padding: 8px 10px;
  }
}

.tags.collapsed {
  max-height: 95px;
}
@media (max-width: 768px) {
  .tags.collapsed {
    max-height: 80px;
  }
}

.toggle-btn {
  margin-top: 10px;
  border: none;
  cursor: pointer;
  text-align: center;
  background-color: inherit;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (hover: hover) {
  .toggle-btn:hover {
    color: var(--color-orange);
  }
}
.toggle-btn__wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.arrow {
  transition: transform 0.3s ease-in-out;
}

.tags:not(.collapsed) + .toggle-btn .arrow {
  transform: rotate(360deg);
}

/*----------------------------------main-section--------------------------------*//*# sourceMappingURL=critical.css.map */