* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

a:focus,
a:active {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  font-size: 100%;
  line-height: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100dvh;
  min-width: 320px;
  scroll-behavior: smooth;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a {
  font-size: inherit;
  color: inherit;
  display: inherit;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

h1, h2, h3, h4, h5, h6, p, address, cite, span, ul, li {
  font-style: normal;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

@font-face {
  font-family: "Corbel";
  src: url("../fonts/Corbel-Light.woff2") format(woff2);
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Corbel";
  src: url("../fonts/Corbel.woff2") format(woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Corbel";
  src: url("../fonts/Corbel-Bold.woff2") format(woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format(woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format(woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-black: #171717;
  --color-white: #FFFFFF;
  --color-gray: #F4F4F4;
  --color-orange: #F77705;
  --border: 1px solid var(--color-black);
  --border-radius: 10px;
  --border-radius-small: 0.4rem;
  --shadow: 0px 0px 20px 0px var(--color-black);
  --font-family-base: "Corbel", Arial, sans-serif;
  --container-width: 73.8rem;
}

/*----------------------------------header--------------------------------*/
.header {
  position: absolute;
  width: 100%;
  z-index: 2;
  color: var(--color-white);
  padding-top: 16px;
}
.header__bg {
  background-color: var(--color-blue);
  transition: all 0.3s ease 0s;
}
.header__bg .header__content {
  color: var(--color-white);
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  margin-bottom: 11px;
  position: relative;
}
@media (max-width: 80rem) {
  .header__top {
    gap: 10px;
  }
}
.header__locations {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  font-size: clamp(0.75rem, 1.3793103448vw, 1rem);
}
.header__text {
  font-size: clamp(0.625rem, 1.0344827586vw, 0.75rem);
}
.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  margin-bottom: 12px;
}
.header__logo {
  z-index: 3;
  margin-top: 5px;
}
.header__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-size: clamp(0.75rem, 1.3793103448vw, 1rem);
}
@media (max-width: 80rem) {
  .header__links {
    gap: 10px;
  }
}
.header__link {
  transition: All 0.3s ease 0s;
  white-space: nowrap;
  font-family: "Roboto", Arial, sans-serif;
}
@media (hover: hover) {
  .header__link:hover {
    color: var(--color-orange);
  }
  .header__link:hover svg path {
    fill: var(--color-orange);
    transition: All 0.3s ease 0s;
  }
}
.header__place {
  display: none;
  position: absolute;
  z-index: 9;
  background-color: var(--color-orange);
  top: 35px;
  width: 224px;
  border-radius: 10px;
  padding: 11px;
  box-shadow: 0 0 25px 0 #000;
  border: 1px solid var(--color-white);
}
.header__place_text {
  margin-bottom: 11px;
}
.header__place_name {
  font-weight: 700;
  font-size: clamp(0.875rem, 1.5517241379vw, 1.125rem);
  margin-bottom: 11px;
}
.header__place_buttons {
  display: flex;
  align-items: center;
  gap: 11px;
}
.header__place_btn--yes {
  border: 1px solid #f77705;
  border-radius: 10px;
  padding: 7px 20px;
}
.header__place_btn--another {
  background-color: inherit;
  color: var(--color-white);
}
.header__place::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  top: -10.5px;
  left: 25px;
  background-color: var(--color-orange);
  border-top-left-radius: 2px;
  transform: rotate(45deg);
  border-left: 1px solid var(--color-white);
  border-top: 1px solid var(--color-white);
}
.header__catalog {
  background-color: var(--color-orange);
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  border-radius: 10px;
}
.header__catalog_burger {
  width: 24px;
}
.header__catalog_burger span {
  display: block;
  border-radius: 2px;
  height: 2px;
  width: 24px;
  background-color: var(--color-white);
  margin-bottom: 2px;
}
.header__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
@media (hover: hover) {
  .header__box:not(:last-child):hover {
    color: var(--color-orange);
    transition: All 0.3s ease 0s;
  }
}
.header__box--entry {
  background-color: var(--color-orange);
  padding: 11px 15px 11px 5px;
  border-radius: 10px;
}
.header__bottom {
  display: flex;
  align-items: center;
  gap: 24px;
  background-color: var(--color-white);
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 10px;
  position: relative;
}
.header__cities {
  position: absolute;
  z-index: 9;
  background-color: var(--color-orange);
  top: 35px;
  width: 100%;
  border-radius: 10px;
  padding: 16px 80px 256px 11px;
  box-shadow: 0 0 25px 0 #000;
  border: 1px solid var(--color-white);
  display: flex;
  justify-content: space-between;
  gap: 16px;
  display: none;
}
.header__cities::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  top: -10.8px;
  left: 25px;
  background-color: var(--color-orange);
  border-top-left-radius: 2px;
  transform: rotate(45deg);
  border-left: 1px solid var(--color-white);
  border-top: 1px solid var(--color-white);
}
.header__cities_block:first-child {
  flex-basis: 160px;
}
.header__city {
  margin-bottom: 10px;
  cursor: pointer;
}
.header__city--mod {
  font-weight: 700;
}

/*----------------------------------header--------------------------------*/
/*----------------------------------menu--------------------------------*/
.menu {
  width: 100%;
}
.menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.8rem 2rem;
  width: 100%;
}
@media (hover: hover) {
  .menu ul li:hover .menu__dropdown {
    opacity: 1;
    visibility: visible;
  }
}
.menu__link {
  line-height: 120%;
  color: var(--color-black);
  position: relative;
  font-size: clamp(0.875rem, 1.3793103448vw, 1rem);
  transition: All 0.3s ease 0s;
}
@media (hover: hover) {
  .menu__link:hover {
    color: var(--color-orange);
  }
}
.menu__link_promo {
  position: absolute;
  top: -5px;
  right: -10px;
  width: 12px;
  height: 12px;
  background-color: var(--color-orange);
  color: var(--color-white);
  padding-bottom: 3px;
  border-radius: 50%;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 48rem) {
  .menu {
    position: fixed;
    left: 0;
    top: -100%;
    width: 100%;
    height: 100%;
    background: blueviolet;
    padding: 3rem 2rem 2rem 2rem;
    transition: All 0.5s ease 0s;
    overflow: auto;
    z-index: 9;
  }
  .menu._active {
    top: 0;
  }
  .menu__list-item:not(:last-child) {
    margin-bottom: 2rem;
  }
  .menu ul {
    flex-direction: column;
    text-align: center;
    position: relative;
    color: var(--color-white);
  }
}
.menu__dropdown {
  opacity: 0;
  visibility: hidden;
  color: var(--color-black);
  position: absolute;
  width: 13rem;
  padding-top: 2rem;
  border-radius: 10px;
  box-shadow: -1px 56px 80px -1px rgba(34, 60, 80, 0.2);
}
.menu__dropdown_inner {
  background-color: var(--color-white);
  border-radius: 10px;
  padding: 1rem 0.5rem 1rem 0.5rem;
  position: relative;
  box-shadow: 2px -8px 21px 0px rgba(34, 60, 80, 0.2);
  z-index: 9;
}
.menu__dropdown_inner ul {
  flex-direction: column;
  align-items: start;
}
.menu__dropdown_inner::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  top: -8px;
  left: 17px;
  background-color: var(--color-white);
  border-radius: 2px;
  transform: rotate(45deg);
}
.menu__dropdown--mod {
  max-height: 80vh;
  overflow-y: scroll;
  scrollbar-width: none;
  width: 100%;
  left: 0;
}
.menu__dropdown--mod::-webkit-scrollbar {
  display: none;
}
.menu__dropdown--mod .menu__dropdown_inner::after {
  left: 26%;
}
.menu__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.menu__block_title {
  font-weight: 700;
  font-size: 24px;
  color: var(--color-orange);
  margin-bottom: 0.7rem;
  line-height: 100%;
}
.menu__block_subtitle {
  font-weight: 700;
  margin-bottom: 0.7rem;
}
.menu__block ul {
  margin-bottom: 0.7rem;
}

/*----------------------------------menu--------------------------------*/
/*----------------------------------search--------------------------------*/
.search {
  flex-basis: 26rem;
}
.search__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.9rem;
  background-color: var(--color-orange);
  padding: 1px 1px 1px 31px;
  border-radius: 10px;
}
.search__label_input {
  width: 100%;
  border-radius: 10px;
  padding: 0.75rem 0.9rem;
}
.search__label_input::-moz-placeholder {
  font-size: clamp(0.75rem, 1.3793103448vw, 1rem);
}
.search__label_input::placeholder {
  font-size: clamp(0.75rem, 1.3793103448vw, 1rem);
}

/*----------------------------------search--------------------------------*/
/*----------------------------------burger--------------------------------*/
.burger__wrapper {
  display: none;
}
@media (max-width: 48rem) {
  .burger__wrapper {
    width: 36px;
    height: 36px;
    flex: 0 0 auto;
    background-color: var(--color-orange);
    border-radius: 8px;
    position: relative;
    display: block;
    z-index: 999;
  }
  .burger__wrapper .burger {
    z-index: 2;
    cursor: pointer;
  }
  .burger__wrapper .burger__line {
    height: 2px;
    width: 20px;
    position: absolute;
    transition: all 0.3s ease 0s;
    background: var(--color-white);
    transform: translate(-50%, -50%);
    border-radius: 1px;
  }
  .burger__wrapper .burger__line:first-child {
    left: 50%;
    top: 32%;
  }
  .burger__wrapper .burger__line:nth-child(2) {
    left: 50%;
    top: 50%;
  }
  .burger__wrapper .burger__line:last-child {
    top: 67%;
    width: 15px;
    right: 0.29px;
  }
  .burger__wrapper._active .burger__line:nth-child(2) {
    transform: rotate(45deg);
    left: 25%;
    top: 50%;
    width: 20px;
  }
  .burger__wrapper._active .burger__line:first-child {
    transform: rotate(-45deg);
    left: 25%;
    top: 50%;
  }
  .burger__wrapper._active .burger__line:last-child {
    opacity: 0;
  }
}

/*----------------------------------burger--------------------------------*/
/*----------------------------------main-section--------------------------------*/
.main-section {
  position: relative;
  padding-top: 208px;
  margin-bottom: 96px;
}
.main-section__content {
  position: relative;
  z-index: 1;
}
.main-section__body {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 48px;
}
.main-section .title {
  margin-bottom: 32px;
  text-transform: uppercase;
  color: var(--color-white);
}
@media (max-width: 64rem) {
  .main-section .title {
    color: var(--color-black);
  }
}
.main-section__info {
  flex-basis: 512px;
  min-width: 0;
}
.main-section__form {
  flex-basis: 360px;
}
.main-section__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.main-section__bg img {
  -o-object-position: right;
     object-position: right;
}
@media (max-width: 64rem) {
  .main-section__bg {
    position: relative;
  }
}
.main-section__discount {
  max-width: 320px;
  background-color: var(--color-white);
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}
.main-section__discount_percent {
  font-size: clamp(1.125rem, 2.0689655172vw, 1.5rem);
  font-weight: 700;
  color: var(--color-orange);
  margin-bottom: 8px;
}
.main-section__discount_text {
  font-size: clamp(1rem, 1.5517241379vw, 1.125rem);
}
@media (max-width: 48rem) {
  .main-section__discount {
    border: 1px solid var(--color-orange);
  }
}
.main-section__blocks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  margin-bottom: -96px;
}
@media (max-width: 64rem) {
  .main-section__blocks {
    flex-wrap: wrap;
    margin-bottom: 32px;
  }
}

.block {
  background-color: var(--color-orange);
  padding: 20px;
  border-radius: 10px;
  flex-basis: 360px;
  color: var(--color-white);
}
@media (max-width: 64rem) {
  .block {
    flex-basis: 100%;
  }
}
.block__icon {
  margin-bottom: 9px;
}
.block__title {
  font-size: clamp(1.125rem, 2.0689655172vw, 1.5rem);
  margin-bottom: 9px;
  font-weight: 700;
  line-height: 120%;
}
.block__text {
  font-size: clamp(1rem, 1.5517241379vw, 1.125rem);
  line-height: 120%;
}

/*----------------------------------main-section--------------------------------*//*# sourceMappingURL=critical.css.map */