@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

a:focus,
a:active {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  font-size: 100%;
  line-height: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100dvh;
  min-width: 320px;
  scroll-behavior: smooth;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a {
  font-size: inherit;
  color: inherit;
  display: inherit;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

address, cite {
  font-style: normal;
}

@font-face {
  font-family: "Corbel";
  src: url("../fonts/Corbel-Light.woff2") format(woff2);
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Corbel";
  src: url("../fonts/Corbel.woff2") format(woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Corbel";
  src: url("../fonts/Corbel-Bold.woff2") format(woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format(woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format(woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-black: #171717;
  --color-white: #FFFFFF;
  --color-gray: #F4F4F4;
  --color-orange: #F77705;
  --border: 1px solid var(--color-black);
  --border-radius: 1rem;
  --border-radius-small: 0.4rem;
  --shadow: 0px 0px 20px 0px var(--color-black);
  --font-family-base: "Corbel", Arial, sans-serif;
  --container-width: 73.8rem;
}

/*----------------------------------global--------------------------------*/
body.lock {
  overflow: hidden;
}

body {
  font-family: var(--font-family-base);
  font-size: 1.13rem;
  font-weight: 400;
  color: var(--color-black);
  background: var(--color-gray);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.main {
  flex: 1 1 auto;
}

._container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0rem 0.64rem;
}

.section {
  padding: 3.1rem 0rem;
}

.section--color {
  background-color: #EA984F;
}

._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.title {
  font-size: clamp(1.875rem, 5.1724137931vw, 3.75rem);
  line-height: 120%;
}

.text {
  font-size: clamp(0.875rem, 1.5517241379vw, 1.125rem);
  color: var(--color-black);
  line-height: 100%;
}

@media (max-width: 48rem) {
  .yandex-rating {
    display: flex;
    gap: 15px;
  }
}
.yandex-rating__stars {
  margin-top: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (max-width: 48rem) {
  .yandex-rating__stars {
    display: flex;
    gap: 1px;
  }
  .yandex-rating__stars img {
    width: 22px;
  }
}

.btn {
  display: inline-block;
  padding: 0.7rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
  text-align: center;
}

.btn-outline {
  border: 1px solid var(--color-orange);
  background-color: var(--color-white);
}
@media (hover: hover) {
  .btn-outline:hover {
    color: var(--color-white);
    background-color: var(--color-orange);
  }
}

.btn-filled {
  background-color: var(--color-orange);
  border: 1px solid var(--color-orange);
  color: var(--color-white);
}
@media (hover: hover) {
  .btn-filled:hover {
    color: var(--color-black);
    background-color: var(--color-white);
  }
}

.button {
  color: var(--color-orange);
  background-color: inherit;
  text-decoration: underline;
  margin: 0 auto;
  width: 100%;
  display: none;
}

@media (max-width: 48rem) {
  .button__more {
    display: block;
  }
}

@media (max-width: 48rem) {
  .text-more {
    display: none;
  }
}

/*----------------------------------global--------------------------------*/
/*----------------------------------header--------------------------------*/
.header {
  position: fixed;
  width: 100%;
  z-index: 2;
  color: var(--color-white);
  padding-top: 1rem;
}
.header__bg {
  background-color: var(--color-blue);
  transition: all 0.3s ease 0s;
}
.header__bg .header__content {
  color: var(--color-white);
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 0.7rem;
  position: relative;
}
@media (max-width: 80rem) {
  .header__top {
    gap: 0.5rem;
  }
}
.header__locations {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  font-size: clamp(0.75rem, 1.3793103448vw, 1rem);
}
.header__text {
  font-size: clamp(0.625rem, 1.0344827586vw, 0.75rem);
}
.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.7rem;
}
.header__logo {
  z-index: 3;
  margin-top: 0.1rem;
}
.header__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: clamp(0.75rem, 1.3793103448vw, 1rem);
}
@media (max-width: 80rem) {
  .header__links {
    gap: 0.5rem;
  }
}
.header__link {
  transition: All 0.3s ease 0s;
  white-space: nowrap;
  font-family: "Roboto", Arial, sans-serif;
}
@media (hover: hover) {
  .header__link:hover {
    color: var(--color-orange);
  }
  .header__link:hover svg path {
    fill: var(--color-orange);
    transition: All 0.3s ease 0s;
  }
}
.header__place {
  display: none;
  position: absolute;
  z-index: 9;
  background-color: var(--color-orange);
  top: 2.2rem;
  width: 14rem;
  border-radius: 10px;
  padding: 0.7rem;
  box-shadow: 0 0 25px 0 #000;
  border: 1px solid var(--color-white);
}
.header__place_text {
  margin-bottom: 0.7rem;
}
.header__place_name {
  font-weight: 700;
  font-size: clamp(0.875rem, 1.5517241379vw, 1.125rem);
  margin-bottom: 0.7rem;
}
.header__place_buttons {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
.header__place_btn--yes {
  border: 1px solid #f77705;
  border-radius: 10px;
  padding: 7px 20px;
}
.header__place_btn--another {
  background-color: inherit;
  color: var(--color-white);
}
.header__place::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  top: -10.5px;
  left: 1.6rem;
  background-color: var(--color-orange);
  border-top-left-radius: 2px;
  transform: rotate(45deg);
  border-left: 1px solid var(--color-white);
  border-top: 1px solid var(--color-white);
}
.header__catalog {
  background-color: var(--color-orange);
  padding: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  border-radius: 10px;
}
.header__catalog_burger {
  width: 24px;
}
.header__catalog_burger span {
  display: block;
  border-radius: 2px;
  height: 2px;
  width: 24px;
  background-color: var(--color-white);
  margin-bottom: 2px;
}
.header__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
@media (hover: hover) {
  .header__box:not(:last-child):hover {
    color: var(--color-orange);
    transition: All 0.3s ease 0s;
  }
}
.header__box--entry {
  background-color: var(--color-orange);
  padding: 0.7rem 0.9rem 0.7rem 0.3rem;
  border-radius: 10px;
}
.header__bottom {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  background-color: var(--color-white);
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  position: relative;
}
.header__cities {
  position: absolute;
  z-index: 9;
  background-color: var(--color-orange);
  top: 2.2rem;
  width: 100%;
  border-radius: 10px;
  padding: 1rem 5rem 1rem 0.7rem;
  box-shadow: 0 0 25px 0 #000;
  border: 1px solid var(--color-white);
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  display: none;
}
.header__cities::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  top: -10.8px;
  left: 1.6rem;
  background-color: var(--color-orange);
  border-top-left-radius: 2px;
  transform: rotate(45deg);
  border-left: 1px solid var(--color-white);
  border-top: 1px solid var(--color-white);
}
.header__cities_block:first-child {
  flex-basis: 10rem;
}
.header__city {
  margin-bottom: 0.5rem;
  cursor: pointer;
}
.header__city--mod {
  font-weight: 700;
}

/*----------------------------------header--------------------------------*/
/*----------------------------------menu--------------------------------*/
.menu {
  width: 100%;
}
.menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.8rem 2rem;
  width: 100%;
}
@media (hover: hover) {
  .menu ul li:hover .menu__dropdown {
    opacity: 1;
    visibility: visible;
  }
}
.menu__link {
  line-height: 120%;
  color: var(--color-black);
  position: relative;
  font-size: clamp(0.875rem, 1.3793103448vw, 1rem);
  transition: All 0.3s ease 0s;
}
@media (hover: hover) {
  .menu__link:hover {
    color: var(--color-orange);
  }
}
.menu__link_promo {
  position: absolute;
  top: -5px;
  right: -10px;
  width: 12px;
  height: 12px;
  background-color: var(--color-orange);
  color: var(--color-white);
  padding-bottom: 3px;
  border-radius: 50%;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 48rem) {
  .menu {
    position: fixed;
    left: 0;
    top: -100%;
    width: 100%;
    height: 100%;
    background: blueviolet;
    padding: 3rem 2rem 2rem 2rem;
    transition: All 0.5s ease 0s;
    overflow: auto;
    z-index: 9;
  }
  .menu._active {
    top: 0;
  }
  .menu__list-item:not(:last-child) {
    margin-bottom: 2rem;
  }
  .menu ul {
    flex-direction: column;
    text-align: center;
    position: relative;
    color: var(--color-white);
  }
}
.menu__dropdown {
  opacity: 0;
  visibility: hidden;
  color: var(--color-black);
  position: absolute;
  width: 13rem;
  padding-top: 2rem;
  border-radius: 10px;
  box-shadow: -1px 56px 80px -1px rgba(34, 60, 80, 0.2);
}
.menu__dropdown_inner {
  background-color: var(--color-white);
  border-radius: 10px;
  padding: 1rem 0.5rem 1rem 0.5rem;
  position: relative;
  box-shadow: 2px -8px 21px 0px rgba(34, 60, 80, 0.2);
  z-index: 9;
}
.menu__dropdown_inner ul {
  flex-direction: column;
  align-items: start;
}
.menu__dropdown_inner::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  top: -8px;
  left: 17px;
  background-color: var(--color-white);
  border-radius: 2px;
  transform: rotate(45deg);
}
.menu__dropdown--mod {
  max-height: 80vh;
  overflow-y: scroll;
  scrollbar-width: none;
  width: 100%;
  left: 0;
}
.menu__dropdown--mod::-webkit-scrollbar {
  display: none;
}
.menu__dropdown--mod .menu__dropdown_inner::after {
  left: 26%;
}
.menu__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.menu__block_title {
  font-weight: 700;
  font-size: 24px;
  color: var(--color-orange);
  margin-bottom: 0.7rem;
  line-height: 100%;
}
.menu__block_subtitle {
  font-weight: 700;
  margin-bottom: 0.7rem;
}
.menu__block ul {
  margin-bottom: 0.7rem;
}

/*----------------------------------menu--------------------------------*/
/*----------------------------------search--------------------------------*/
.search {
  flex-basis: 26rem;
}
.search__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.9rem;
  background-color: var(--color-orange);
  padding: 1px 1px 1px 31px;
  border-radius: 10px;
}
.search__label_input {
  width: 100%;
  border-radius: 10px;
  padding: 0.75rem 0.9rem;
}
.search__label_input::-moz-placeholder {
  font-size: clamp(0.75rem, 1.3793103448vw, 1rem);
}
.search__label_input::placeholder {
  font-size: clamp(0.75rem, 1.3793103448vw, 1rem);
}

/*----------------------------------search--------------------------------*/
/*----------------------------------burger--------------------------------*/
.burger__wrapper {
  display: none;
}
@media (max-width: 48rem) {
  .burger__wrapper {
    width: 36px;
    height: 36px;
    flex: 0 0 auto;
    background-color: var(--color-orange);
    border-radius: 8px;
    position: relative;
    display: block;
    z-index: 999;
  }
  .burger__wrapper .burger {
    z-index: 2;
    cursor: pointer;
  }
  .burger__wrapper .burger__line {
    height: 2px;
    width: 20px;
    position: absolute;
    transition: all 0.3s ease 0s;
    background: var(--color-white);
    transform: translate(-50%, -50%);
    border-radius: 1px;
  }
  .burger__wrapper .burger__line:first-child {
    left: 50%;
    top: 32%;
  }
  .burger__wrapper .burger__line:nth-child(2) {
    left: 50%;
    top: 50%;
  }
  .burger__wrapper .burger__line:last-child {
    top: 67%;
    width: 15px;
    right: 0.29px;
  }
  .burger__wrapper._active .burger__line:nth-child(2) {
    transform: rotate(45deg);
    left: 25%;
    top: 50%;
    width: 20px;
  }
  .burger__wrapper._active .burger__line:first-child {
    transform: rotate(-45deg);
    left: 25%;
    top: 50%;
  }
  .burger__wrapper._active .burger__line:last-child {
    opacity: 0;
  }
}

/*----------------------------------burger--------------------------------*/
/*----------------------------------breadcrumbs--------------------------------*/
.breadcrumbs {
  margin-bottom: 50px;
}
.breadcrumbs__list {
  display: flex;
  align-items: center;
  gap: 5px 15px;
  flex-wrap: wrap;
}
.breadcrumbs__item:not(:last-child) {
  position: relative;
  padding-right: 1.5rem;
}
.breadcrumbs__item:not(:last-child)::after {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  top: 5px;
  right: 0;
  border-radius: 1px;
  background: rgb(155, 155, 155);
  transform: rotate(45deg);
}
.breadcrumbs__item {
  font-size: 12px;
  line-height: 15px;
  font-size: 12px;
  color: rgb(155, 155, 155);
}
.breadcrumbs__item_link:hover {
  color: var(--color-blue);
}

/*----------------------------------breadcrumbs--------------------------------*/
/*---------------------------------------sliders----------------------------*/
.main-slider {
  overflow: hidden;
  position: relative;
  padding-bottom: 2.5rem;
  max-width: 20rem;
}

.categories-slider {
  overflow: hidden;
  padding: 0rem 1.5rem;
}

/*---------------------------------------параметры чтобы слайды имели одинаковую высоту----------------------------*/
.categories-slider .swiper-wrapper {
  display: flex;
  align-items: stretch;
}

.categories-slider .swiper-slide {
  height: auto;
  transition: all 0.5s ease;
}

.card,
.categories__card--mod {
  height: 100%;
}

/*---------------------------------------параметры чтобы слайды имели одинаковую высоту----------------------------*/
.categories__wrapper .swiper-button-next,
.categories__wrapper .swiper-button-prev {
  top: 30%;
}

.categories__wrapper .swiper-button-next {
  right: 0;
}

.categories__wrapper .swiper-button-prev {
  left: 0;
}

.categories__wrapper .swiper-button-next::after,
.categories__wrapper .swiper-button-prev::after {
  color: var(--color-white);
  border: 2px solid var(--color-white);
  padding: 0.3rem 0.5rem;
  border-radius: 50%;
  background-color: var(--color-orange);
  font-size: 1rem;
}

.main-slider .swiper-pagination-bullet {
  opacity: 1;
  background-color: #D9D9D9;
  transition: All 0.5s ease 0s;
  width: 0.7rem;
  height: 0.7rem;
}

.main-slider .swiper-pagination-bullet-active {
  background-color: var(--color-orange);
}

/*---------------------------------------sliders----------------------------*/
/*----------------------------------main-section--------------------------------*/
.main-section {
  position: relative;
  padding-top: 13rem;
  margin-bottom: 6rem;
}
.main-section__content {
  position: relative;
  z-index: 1;
}
.main-section__body {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 3rem;
}
.main-section .title {
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: var(--color-white);
}
@media (max-width: 64rem) {
  .main-section .title {
    color: var(--color-black);
  }
}
.main-section__info {
  flex-basis: 32rem;
  min-width: 0;
}
.main-section__form {
  flex-basis: 22.5rem;
}
.main-section__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.main-section__bg img {
  -o-object-position: right;
     object-position: right;
}
@media (max-width: 64rem) {
  .main-section__bg {
    position: relative;
  }
}
.main-section__discount {
  max-width: 20rem;
  background-color: var(--color-white);
  text-align: center;
  padding: 0.7rem;
  border-radius: 10px;
}
.main-section__discount_percent {
  font-size: clamp(1.125rem, 2.0689655172vw, 1.5rem);
  font-weight: 700;
  color: var(--color-orange);
  margin-bottom: 0.5rem;
}
.main-section__discount_text {
  font-size: clamp(1rem, 1.5517241379vw, 1.125rem);
}
@media (max-width: 48rem) {
  .main-section__discount {
    border: 1px solid var(--color-orange);
  }
}
.main-section__blocks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: -6rem;
}
@media (max-width: 64rem) {
  .main-section__blocks {
    flex-wrap: wrap;
    margin-bottom: 2rem;
  }
}

.block {
  background-color: var(--color-orange);
  padding: 1.25rem;
  border-radius: 10px;
  flex-basis: 22.5rem;
  color: var(--color-white);
}
@media (max-width: 64rem) {
  .block {
    flex-basis: 100%;
  }
}
.block__icon {
  margin-bottom: 0.6rem;
}
.block__title {
  font-size: clamp(1.125rem, 2.0689655172vw, 1.5rem);
  margin-bottom: 0.6rem;
  font-weight: 700;
  line-height: 120%;
}
.block__text {
  font-size: clamp(1rem, 1.5517241379vw, 1.125rem);
  line-height: 120%;
}

/*----------------------------------main-section--------------------------------*/
/*----------------------------------rating--------------------------------*/
.rating__content .title {
  margin-bottom: 2rem;
}
.rating__top {
  display: flex;
  align-items: center;
  gap: 1rem 7rem;
  margin-bottom: 2.5rem;
}
@media (max-width: 48rem) {
  .rating__top {
    flex-wrap: wrap;
  }
}
.rating__top_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.rating__top_block:first-child {
  display: block;
}
.rating__top_block:last-child {
  flex-basis: 27rem;
}
.rating__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 2.5rem 1.3rem;
}
@media (max-width: 48rem) {
  .rating__cards {
    width: 100%;
  }
}
.rating__card {
  display: grid;
  grid-template-rows: auto 3.5rem 1fr 2.5rem;
}
@media (max-width: 48rem) {
  .rating__card {
    width: 100%;
  }
}
.rating__card_image {
  padding: 182px 0px 0px 0px;
  margin-bottom: 1.3rem;
}
.rating__card_image img {
  border-radius: 10px;
  width: 100%;
}
.rating__card_title {
  font-size: clamp(1.125rem, 2.0689655172vw, 1.5rem);
  font-weight: 700;
  margin-bottom: 0.7rem;
}
.rating__card_text {
  margin-bottom: 1rem;
}

/*----------------------------------rating--------------------------------*/
/*----------------------------------foundation--------------------------------*/
.foundation__text {
  margin-bottom: 2.5rem;
}
.foundation__blocks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(262px, 1fr));
  gap: 0.8rem;
}
@media (max-width: 48rem) {
  .foundation__blocks {
    width: 100%;
  }
}
.foundation__blocks .block {
  background-color: var(--color-white);
  color: var(--color-black);
  border: 1px solid #ddd;
  padding: 0.8rem;
}

/*----------------------------------foundation--------------------------------*/
/*----------------------------------working--------------------------------*/
.working__content .title {
  color: var(--color-white);
  margin-bottom: 2.5rem;
}
@media (max-width: 48rem) {
  .working__content .title {
    margin-bottom: 1.3rem;
  }
}
.working__blocks {
  margin-bottom: 0.7rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 0.8rem;
}
@media (max-width: 48rem) {
  .working__blocks {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
.working__blocks .block {
  background-color: var(--color-white);
  color: var(--color-black);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.25rem;
}
@media (max-width: 48rem) {
  .working__blocks .block {
    background-color: inherit;
    padding: 0rem;
    gap: 0.7rem;
    grid-template-columns: 2rem 1fr;
    align-items: center;
  }
}
.working__blocks .block__img {
  padding: 160px 0px 0px 0px;
}
.working__blocks .block__img img {
  border-radius: 10px;
}
@media (max-width: 48rem) {
  .working__blocks .block__img {
    display: none;
  }
}
.working__blocks .block__icon {
  display: none;
}
@media (max-width: 48rem) {
  .working__blocks .block__icon {
    display: block;
    margin-bottom: 0rem;
  }
}
@media (max-width: 48rem) {
  .working__blocks .block__title {
    margin-bottom: 0rem;
    color: var(--color-white);
  }
}
@media (max-width: 48rem) {
  .working__blocks .block__text {
    display: none;
  }
}
.working__logos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  gap: 0.7rem;
}
@media (max-width: 48rem) {
  .working__logos {
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  }
}
.working__logo {
  background-color: var(--color-white);
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
  width: 100%;
  text-align: center;
}

/*----------------------------------working--------------------------------*/
/*----------------------------------guarantees--------------------------------*/
.guarantees__content .title {
  margin-bottom: 2.5rem;
}
.guarantees__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 0.8rem;
}
.guarantees__card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1.3rem;
  display: grid;
  grid-template-rows: auto 3.5rem 2.5rem;
  background-color: var(--color-white);
}
.guarantees__card_image {
  margin-bottom: 0.8rem;
  padding: 138px 0px 0px 0px;
  border-radius: 10px 10px 2px 2px;
}
.guarantees__card_image img {
  border-radius: 10px 10px 2px 2px;
}
.guarantees__card_title {
  margin-bottom: 2rem;
}
.guarantees__card_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;
}
.guarantees__card_buttons .btn {
  font-size: 16px;
}

/*----------------------------------guarantees--------------------------------*/
/*----------------------------------reliability--------------------------------*/
.reliability {
  position: relative;
}

.blockquote {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}
@media (max-width: 48rem) {
  .blockquote {
    flex-wrap: wrap;
  }
}
.blockquote__info .title {
  margin-bottom: 1.25rem;
}
.blockquote__info .title span {
  color: var(--color-orange);
}
@media (max-width: 48rem) {
  .blockquote__info .title {
    position: absolute;
    top: 0;
  }
}
@media (max-width: 48rem) {
  .blockquote__info {
    order: 1;
  }
}
.blockquote__block {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 1rem;
  margin-bottom: 1.25rem;
}
@media (max-width: 48rem) {
  .blockquote__block {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}
.blockquote__block_photo {
  padding-top: 195px;
}
@media (max-width: 48rem) {
  .blockquote__block_photo {
    padding-top: 100px;
  }
}
.blockquote__block_photo img {
  border-radius: 10px;
  width: 100%;
}
.blockquote__block_name {
  font-weight: 700;
  font-size: clamp(1.125rem, 2.0689655172vw, 1.5rem);
  margin-bottom: 0.625rem;
}
.blockquote__more {
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: var(--color-white);
  padding: 1.25rem;
}
.blockquote__more_title {
  font-weight: 700;
  font-size: clamp(1.125rem, 2.0689655172vw, 1.5rem);
  margin-bottom: 0.625rem;
}
.blockquote__more_text {
  margin-bottom: 1.25rem;
}
.blockquote__more_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.625rem 1.25rem;
}
@media (max-width: 48rem) {
  .blockquote__more_buttons {
    flex-wrap: wrap;
  }
}
.blockquote__text {
  flex-basis: 59rem;
}
@media (max-width: 48rem) {
  .blockquote__text {
    margin-top: 2.5rem;
  }
}
.blockquote__text span {
  display: inline;
}
.blockquote__text .text {
  font-size: clamp(1rem, 1.5517241379vw, 1.125rem);
  margin-bottom: 2rem;
  line-height: 110%;
}
@media (max-width: 48rem) {
  .blockquote__text .text {
    margin-bottom: 1rem;
  }
}

/*----------------------------------reliability--------------------------------*/
/*----------------------------------consultation--------------------------------*/
@media (max-width: 48rem) {
  .consultation {
    margin-top: 5rem;
  }
}
.consultation__body {
  color: var(--color-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.7rem;
}
@media (max-width: 48rem) {
  .consultation__body {
    flex-wrap: wrap;
  }
}
.consultation__info {
  flex-basis: 28rem;
}
@media (max-width: 48rem) {
  .consultation__info {
    order: 1;
  }
}
.consultation__image {
  margin-top: -7.5rem;
}
@media (max-width: 48rem) {
  .consultation__image {
    margin-top: -9rem;
  }
}
.consultation__form .form {
  margin-bottom: 0rem;
}
.consultation__form .form__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 0.625rem;
  margin-bottom: 0.625rem;
}
@media (max-width: 48rem) {
  .consultation__form .form__wrapper {
    flex-wrap: wrap;
  }
}
.consultation__form .form__wrapper .form__item {
  margin-bottom: 0rem;
  width: 33.333%;
}
@media (max-width: 48rem) {
  .consultation__form .form__wrapper .form__item {
    width: 100%;
  }
}
.consultation__form .form__button {
  flex-basis: 20rem;
}
@media (max-width: 48rem) {
  .consultation__form .form__button {
    flex-basis: 100%;
  }
}
.consultation__form .form .checkbox {
  margin-bottom: 0rem;
}

/*----------------------------------consultation--------------------------------*/
/*----------------------------------categories-------------------------------*/
.categories__wrapper {
  position: relative;
}
.categories__body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.25rem;
  margin-bottom: 6.25rem;
}
.categories__card {
  background-color: var(--color-white);
  border-radius: 10px;
  padding: 1.25rem;
  border: 1px solid #ddd;
  display: grid;
  grid-template-rows: auto 1fr;
  position: relative;
}
.categories__card_image {
  padding-top: 200px;
  margin-bottom: 0.625rem;
  border: 1px solid #dadada;
  border-radius: 10px;
}
.categories__card_image img {
  border-radius: 10px;
}
.categories__card_title {
  margin-bottom: 1.25rem;
}
.categories__card .btn {
  display: inline-block;
  width: 127px;
}
.categories__card_cost {
  font-family: "Roboto", Arial, sans-serif;
  margin-bottom: 0.625rem;
  font-weight: 700;
  font-size: 16px;
}
.categories__card_link {
  margin-bottom: 0.625rem;
  color: var(--color-orange);
  text-decoration: underline;
}
.categories__card_favourites {
  position: absolute;
  cursor: pointer;
  top: 2rem;
  right: 2rem;
}
.categories__card--mod {
  background-color: inherit;
  border: none;
}
.categories__blocks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 0.625rem 1.25rem;
  margin-bottom: 6.25rem;
}
@media (max-width: 48rem) {
  .categories__blocks {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
.categories__blocks .block {
  display: flex;
  gap: 0.5rem 1.25rem;
}
@media (max-width: 48rem) {
  .categories__blocks .block {
    flex-wrap: wrap;
  }
}
.categories__blocks .block__icon {
  flex: none;
  margin-bottom: 0rem;
}

/*----------------------------------categories--------------------------------*/
/*----------------------------------advantages--------------------------------*/
.advantages__content .title,
.advantages__content .text {
  color: var(--color-white);
  margin-bottom: 1.25rem;
}
.advantages__items {
  display: flex;
  align-items: center;
  gap: 0.5rem 1.25rem;
  flex-wrap: wrap;
}
@media (max-width: 48rem) {
  .advantages__items {
    gap: 0.5rem 1rem;
  }
}
.advantages__item {
  background-color: var(--color-white);
  border-radius: 20px;
  padding: 0.625rem 1.25rem;
  font-size: clamp(0.875rem, 1.5517241379vw, 1.125rem);
}
@media (max-width: 48rem) {
  .advantages__item {
    padding: 0.625rem;
  }
}

/*----------------------------------advantages--------------------------------*/
/*----------------------------------popup--------------------------------*/
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
  z-index: 999;
}
.popup__body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup__content {
  max-width: 600px;
  background-color: var(--color-white);
  padding: 5rem;
  position: relative;
  opacity: 0;
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
  transition: all 0.8s ease 0s;
}
.popup.open .popup__content {
  transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  opacity: 1;
  visibility: visible;
}
.popup__title {
  color: #000000;
  font-size: 1.5rem;
  line-height: normal;
  margin-bottom: 2.5rem;
  text-align: center;
  text-transform: uppercase;
}
.popup.open {
  opacity: 1;
  visibility: visible;
}
.popup__close {
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  font-size: 2.5rem;
  color: red;
  transform: rotate(45deg);
}

/*----------------------------------popup--------------------------------*/
/*----------------------------------form--------------------------------*/
.form {
  margin: 0 auto;
  color: var(--color-black);
  padding: 1.25rem;
  background-color: var(--color-white);
  border-radius: 5px;
  margin-bottom: 1rem;
  position: relative;
  border: 1px solid #ddd;
}
.form__title {
  font-size: 18px;
  margin-bottom: 1.5rem;
}
@media (max-width: 48rem) {
  .form__title {
    font-weight: 700;
  }
}
.form__title span {
  text-transform: uppercase;
}
.form__text {
  font-size: clamp(1rem, 1.5517241379vw, 1.125rem);
  line-height: 120%;
  margin-bottom: 1.5rem;
}
.form__item {
  margin-bottom: 0.7rem;
}
.form__input {
  width: 100%;
  padding: 0.7rem;
  border-radius: 5px;
  transition: all 0.3s ease 0s;
  border: 1px solid rgba(23, 23, 23, 0.7);
  height: 100%;
}
.form__input:focus {
  box-shadow: 0 0 10px var(--color-orange);
}
.form__button {
  width: 100%;
  padding: 0.7rem 2rem;
  background-color: var(--color-orange);
  cursor: pointer;
  color: var(--color-white);
  border-radius: 5px;
  font-size: clamp(0.875rem, 1.3793103448vw, 1rem);
}

/*----------------------------------form--------------------------------*/
/*----------------------------------radio-buttons--------------------------------*/
.radio-button input[type=radio] {
  display: none;
}

.radio-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
  line-height: 156%;
  color: #ADB3BF;
}

.custom-radio {
  width: 12px;
  height: 12px;
  border: 1px solid var(--color-blue);
  border-radius: 2px;
  margin-right: 10px;
  position: relative;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

.radio-button:hover .custom-radio {
  border-color: #007BFF;
}

.radio-button input[type=radio]:checked + .custom-radio {
  border-color: #007BFF;
  color: var(--color-white);
}

.radio-button input[type=radio]:checked + .custom-radio::after {
  content: "";
  width: 6px;
  height: 6px;
  background-color: var(--color-blue);
  border-radius: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*----------------------------------radio-buttons--------------------------------*/
/*----------------------------------checkbox--------------------------------*/
.checkbox {
  width: 100%;
  margin-bottom: 1rem;
}
.checkbox._error .checkbox__label::before {
  border: 1px solid red;
}
.checkbox__input {
  display: none;
}
.checkbox__input:checked + .checkbox__label::after {
  transform: scale(1);
}
.checkbox__text {
  font-size: 12px;
}
.checkbox__label {
  font-size: clamp(0.75rem, 1.2068965517vw, 0.875rem);
  line-height: 140%;
  display: inline-flex;
  align-items: center;
  width: 100%;
  position: relative;
  cursor: pointer;
}
.checkbox__label::before {
  content: "";
  align-self: flex-start;
  flex: 0 0 15px;
  height: 15px;
  border-radius: 5px;
  margin-right: 0.5rem;
  border: 1px solid var(--color-black);
}
.checkbox__label::after {
  transition: all 0.3s ease 0s;
  position: absolute;
  content: "";
  width: 7px;
  height: 7px;
  top: 4px;
  left: 4px;
  background-color: var(--color-orange);
  transform: scale(0);
  border-radius: 2px;
}

/*----------------------------------checkbox--------------------------------*/
/*----------------------------------select--------------------------------*/
.select {
  background: var(--color-black);
  color: #ADB3BF;
  width: 100%;
  cursor: pointer;
  font-size: 18px;
  line-height: 156%;
}
.select__option {
  cursor: pointer;
  background-color: var(--color-white);
  border: none;
  border-radius: 5px;
}

.dropdown {
  position: relative;
}
.dropdown__button {
  position: relative;
  display: block;
  text-align: left;
  background: #F1F1F1;
  border-radius: 5px;
  line-height: 120%;
  font-size: 1rem;
  padding: 1rem 2rem 1rem 1rem;
}
.dropdown__button::after {
  content: "";
  position: absolute;
  top: 40%;
  right: 1rem;
  transform: translateY(-50%);
  width: 2px;
  height: 10px;
  border-radius: 2px;
  background-color: var(--color-black);
  pointer-events: none;
  transform: rotate(45deg);
}
.dropdown__button::before {
  content: "";
  position: absolute;
  top: 40%;
  right: 1.35rem;
  transform: translateY(-50%);
  width: 2px;
  height: 10px;
  border-radius: 2px;
  background-color: var(--color-black);
  pointer-events: none;
  transform: rotate(-45deg);
}
.dropdown__list {
  display: none;
  position: absolute;
  overflow: hidden;
  width: 10rem;
  left: 0;
  top: 3.5rem;
  z-index: 1;
  background: #F1F1F1;
  padding: 1rem;
  border-radius: 0.5rem;
}
.dropdown__list--active {
  display: block;
}
.dropdown__list-item {
  border-bottom: 0;
  cursor: pointer;
}
.dropdown__list-item:not(:last-child) {
  margin-bottom: 1rem;
}
.dropdown__list-item:hover {
  color: #00aa4b;
}
.dropdown__input-hidden {
  display: none;
}

/*----------------------------------select--------------------------------*/
/*----------------------------------accordion--------------------------------*/
.accordion__block {
  margin-bottom: 1.5rem;
}
.accordion__summary {
  list-style: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  padding: 0.5rem;
  position: relative;
  width: 100%;
  background-color: #E0F0FA;
  z-index: 3;
}
.accordion__summary::after, .accordion__summary::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 2px;
  top: 40%;
  right: 0;
  background-color: var(--color-black);
  transition: transform 0.2s ease-out;
}
.accordion__summary::after {
  transform: rotate(-45deg);
  right: 5px;
}
.accordion__summary::before {
  transform: rotate(45deg);
  right: 12px;
}
.accordion__details[open] .accordion__summary::after {
  transform: rotate(45deg);
}
.accordion__details[open] .accordion__summary::before {
  transform: rotate(-45deg);
}
.accordion__content {
  display: grid;
  grid-template-rows: 0fr;
  transition-duration: 0.5s;
  padding: 10px;
  margin-bottom: 0.5rem;
  background-color: #E0F0FA;
  opacity: 0;
  margin-top: -2rem;
}
.accordion__content_body {
  overflow: hidden;
}
.accordion__details[open] + .accordion__content {
  grid-template-rows: 1fr;
  opacity: 1;
  margin-top: 0px;
}

/*----------------------------------accordion--------------------------------*/
/*---------------------------------------tabs----------------------------*/
.tabs {
  display: flex;
  flex-direction: column;
}

.tab-labels {
  background-color: #1E1F25;
  padding: 1.3rem 1.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem 5rem;
  border-radius: 6px;
  margin-bottom: 2.5rem;
}

.tab-label {
  padding: 0.8rem 1.2rem;
  cursor: pointer;
  border: 1px solid transparent;
  transition: background-color 0.3s, border-color 0.3s;
  width: 100%;
  text-align: center;
  border-radius: 4px;
}

.tab-label:hover {
  background-color: rgba(226, 226, 226, 0.4392156863);
}

.tab-content {
  display: none;
  padding: 1.2rem;
}

.tab-content .easy__info {
  flex-basis: 80rem;
}

.tab-content .easy__image {
  flex-basis: 40rem;
}

#tab-1:checked ~ .content-1,
#tab-2:checked ~ .content-2,
#tab-3:checked ~ .content-3 {
  display: block;
}

#tab-1:checked ~ .tab-labels label[for=tab-1],
#tab-2:checked ~ .tab-labels label[for=tab-2],
#tab-3:checked ~ .tab-labels label[for=tab-3] {
  background-color: #272A34;
}

/* Скрываем сами радиокнопки */
input[type=radio] {
  display: none;
}

.filtermenu__list {
  margin-bottom: 2.5rem;
  display: flex;
  align-items: center;
  gap: 1.25rem;
  flex-wrap: wrap;
}
.filtermenu__list .active {
  background-color: var(--color-orange);
  color: var(--color-white);
}
.filtermenu li {
  cursor: pointer;
  padding: 10px;
  border-radius: 100px;
  background: var(--color-white);
}

.filtermenu__container .post {
  display: none;
}

.filtermenu__container .post.active {
  display: block;
}

/*---------------------------------------tabs----------------------------*/
/*----------------------------------masonry--------------------------------*/
.masonry {
  max-width: 50rem;
  margin: 0 auto;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  flex-wrap: wrap;
  height: 40rem;
}
.masonry::before, .masonry::after {
  content: "";
  flex-basis: 100%;
  order: 2;
  width: 0;
}
.masonry__block {
  width: calc(33.3333333333% - 1rem);
  padding: 0.5rem;
}
.masonry__block:nth-child(3n+1) {
  order: 1;
}
.masonry__block:nth-child(3n+2) {
  order: 2;
}
.masonry__block:nth-child(3n) {
  order: 3;
}
.masonry__block:nth-child(4n+1) {
  background-color: #8c4ff6;
}
.masonry__block:nth-child(4n+2) {
  background-color: rgb(2, 250, 226);
}
.masonry__block:nth-child(4n+3) {
  background-color: #237ff8;
}
.masonry__block:nth-child(4n) {
  background-color: #ffff00;
}

/*----------------------------------masonry--------------------------------*/
/*----------------------------------footer--------------------------------*/
.footer {
  padding: 1.5rem 0px;
}
.footer__body {
  gap: 10px;
}

/*----------------------------------footer--------------------------------*//*# sourceMappingURL=styles.css.map */